<!--
 * @Author: your name
 * @Date: 2020-02-16 20:49:01
 * @LastEditTime: 2020-02-16 21:19:59
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \isolation-admin\src\views\table\index.vue
 -->
<template>
  <!-- 用户分布 -->
  <div class="app-container">
    <div class="search-box">
      <!--设备搜索-->
      <el-input placeholder="请输入内容" v-model="inputVal" class="input-with-select">
        <el-select v-model="select" slot="prepend" placeholder="智能设备查询" @change="currentSel">
          <el-option label="设备编号" value="1"></el-option>
          <el-option label="隔离对象姓名" value="2"></el-option>
          <el-option label="隔离对象电话" value="3"></el-option>
          <el-option label="负责人姓名" value="4"></el-option>
          <el-option label="负责人电话" value="5"></el-option>
          <el-option label="管控区域" value="6"></el-option>
        </el-select>
        <el-button slot="append" icon="el-icon-search" @click="onSearchResult"></el-button>
      </el-input>
      <!--搜索显示的列表-->
      <div class="list" v-if="dialogVisible">
        <div
          class="li"
          @click="switchWindow(0, item)"
          v-for="(item, index) in tableData.pageContent"
          :key="index"
        >
          <div class="libox">
            <div class="li_left bt">设备编号：</div>
            <div class="li_right bh">{{ item.id }}</div>
          </div>
          <div class="libox">
            <div class="li_left bt">隔离对象姓名：</div>
            <div class="li_right gl">{{ item.isolateName }}</div>
          </div>
        </div>
        <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="params.pageNum"
          :page-size="params.pageSize"
          background
          layout="total, prev, pager, next"
          prev-text="上一页"
          next-text="下一页"
          :total="totalCount"
        ></el-pagination>
      </div>
    </div>

    <!--居家隔离查询-->
    <div class="search-box1">
      <!--设备搜索-->
      <el-input placeholder="请输入内容" v-model="inputVal1" class="input-with-select">
        <el-select v-model="select1" slot="prepend" placeholder="自我隔离查询" @change="currentSel1">
          <el-option label="隔离人姓名" value="1"></el-option>
          <el-option label="区域ID" value="2"></el-option>
          <el-option label="责任人姓名" value="3"></el-option>
          <el-option label="返沪出发地" value="4"></el-option>
        </el-select>
        <el-button slot="append" icon="el-icon-search" @click="onSearchResult1"></el-button>
      </el-input>
      <!--搜索显示的列表-->
      <div class="list" v-if="dialogVisible1">
        <div
          class="li"
          @click="switchWindow1(0, item)"
          v-for="(item, index) in tableData1.pageContent"
          :key="index"
        >
          <div class="libox">
            <div class="li_left bt">隔离对象姓名：</div>
            <div class="li_right bh">{{ item.name }}</div>
          </div>
          <div class="libox">
            <div class="li_left bt">隔离对象手机：</div>
            <div class="li_right gl">{{ item.phone }}</div>
          </div>
        </div>
        <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange1"
          :current-page="params1.pageNum"
          :page-size="params1.pageSize"
          background
          layout="total, prev, pager, next"
          prev-text="上一页"
          next-text="下一页"
          :total="totalCount1"
        ></el-pagination>
      </div>
    </div>

    <el-amap vid="amapDemo" :zoom="zoom" :center="center" class="amap-demo">
      <!--某个标记点的弹窗-->
      <el-amap-info-window
        :position="currentWindow.position"
        :content="currentWindow.content"
        :visible="currentWindow.visible"
        :events="currentWindow.events"
      ></el-amap-info-window>
      <!--设备列表所有的标记点-->
      <el-amap-marker
        v-for="(item, index) in userList"
        :key="index"
        :icon="'/isolation/isolation-admin/location.png'"
        :title="item.areaDetail + ' ' + item.isolateName"
        :position="item.coordinate"
        :extData="item"
        :events="events"
      ></el-amap-marker>
      <!--居家隔离所有的标记点-->
      <el-amap-marker
        v-for="(item1, index1) in userList1"
        :key="index1 + 'a'"
        :title="item1.address"
        :position="item1.coordinate"
        :extData="item1"
        :events="events1"
      ></el-amap-marker>
    </el-amap>
    <!--居家隔离的弹窗开始-->
    <el-dialog :visible.sync="dialogFormVisible1" width="400px">
      <div>隔离对象姓名：{{ detail1.name }}</div>
      <div>隔离对象电话：{{ detail1.phone }}</div>
      <div>隔离对象电话：{{ detail1.address }}</div>
      <!-- <div>隔离观察对象姓名：{{detail.isolateName}}</div>
          <div>隔离观察对象电话：{{detail.isolateNumber}}</div>
      <div>详细地址：{{detail.areaDetail}}</div>-->
    </el-dialog>
    <!--弹窗结束-->
    <!--设备列表的弹窗开始-->
    <el-dialog :visible.sync="dialogFormVisible" width="400px">
      <div>区域编号：{{ detail.areaId }}</div>
      <div>隔离观察对象姓名：{{ detail.isolateName }}</div>
      <div>隔离观察对象电话：{{ detail.isolateNumber }}</div>
      <div>详细地址：{{ detail.areaDetail }}</div>
    </el-dialog>
    <!--弹窗结束-->
  </div>
</template>
<style scoped>
.el-vue-amap-container.amap-demo {
  width: 100%;
  height: 75vh;
  margin-top: 7vh;
}
.search-box {
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 10;
}
.search-box1 {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 10;
}
.amap-page-container {
  position: relative;
}
.searchType {
  height: 39px;
}
.list {
  background: #fff;
  margin-top: 10px;
  border: 1px solid #dcdfe6;
  font-size: 12px;
}
.li {
  border-bottom: 1px solid #dcdfe6;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.libox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bh {
  color: #3385ff;
}
.gl {
  color: #606266;
}
.bt {
  color: #303133;
}
.nav {
  font-size: 12px !important;
}
</style>
<style>
.search-box .el-select .el-input {
  width: 130px;
}
.search-box1 .el-select .el-input {
  width: 130px;
}
.search-box .input-with-select .el-input-group__prepend {
  background-color: #fff;
}
.search-box1 .input-with-select .el-input-group__prepend {
  background-color: #fff;
}
</style>
<script>
import { get_device_all, post_device_pageNum_pageSize, get_self, post_self_pageNum_pageSize } from "@/api/gen-api";
export default {
  data() {
    return {
      itemVal: [],
      tableData: [],
      dialogVisible: false,
      totalCount: 0,
      params: {
        pageSize: 10, //每页的数据条数
        pageNum: 1,//默认显示页面
        id: '',//设备编号
        isolateName: '',//隔离姓名
        isolateNumber: '',//联系电话
        responsiblePerson: '',//负责人
        responsiblePhone: '',//负责人电话
        areaId: ''//区域ID
      },
      inputVal: '',
      select: '',
      form: {
        userName: "",
        telephone: "",
        plateNumber: "",
        loginTime: "",
        longitude: "",
        latitude: ""
      },
      detail: [],
      userList: [],
      tit: "111",
      dialogFormVisible: false,
      formLabelWidth: "100px",
      zoom: 14,
      center: [localStorage.getItem('lat'), localStorage.getItem('lng')],
      dialogFormVisible: false,

      userList1: [],//居家隔离的所有标记点
      dialogFormVisible1: false,
      detail1: [],
      inputVal1: '',//查询的文本框
      select1: '',
      dialogVisible1: false,
      totalCount1: 0,
      tableData1: [],
      userList1: [],
      params1: {
        pageSize: 10, //每页的数据条数
        pageNum: 1,//默认显示页面
        name: '',//隔离人姓名
        addressType: '',//地址类型
        community: '',//社区模糊查询
        areaId: '',//区域ID
        fever: '',//是否
        responsiblePerson: '',//责任人名字模糊查询
        provenance: '',//返沪出发地
        status: '',//隔离是否结束

      },
      events1: {
        click: b => {
          this.dialogFormVisible1 = true
          var allS1 = b.target.F.extData
          this.detail1 = allS1
        }
      },

      events: {
        click: a => {
          this.dialogFormVisible = true
          var allS = a.target.De.extData
          console.log(a.target);
          this.detail = allS
        }
      },
      windows: [
        {
          position: [121.59996, 31.197646],
          content: '提示信息',
          visible: false,
          events: {
            close() {
              console.log('close infowindow1');
            }
          }
        }
      ],
      slotWindow: {
        position: [121.59996, 31.197646]
      },
      currentWindow: {
        position: [0, 0],
        content: '',
        events: {},
        visible: false
      }





    };
  },
  mounted() {
    this.currentWindow = this.windows[0];
  },
  created() {
    this.$nextTick(() => {
      this.getMap();
      this.getsale();
    })
  },
  methods: {
    //搜索自我隔离
    onSearchResult1() {
      if(this.select1){
        this.getSelectMap1();
      }else{
        this.$message({
          type:"warning",
          message:"请选择查询类型"
        })
      }
      
    },
    //搜索设备列表
    onSearchResult() {
      if(this.select){
        this.getSelectMap();
      }else{
        this.$message({
          type:"warning",
          message:"请选择设备查询字段"
        })
      }
      
    },
    //点击某一条查询数据的时候调用的方法居家隔离
    switchWindow1(tab, item) {
      this.currentWindow.visible = false;
      this.dialogVisible1 = false;
      this.$nextTick(() => {
        this.currentWindow.position = item.coordinate;
        this.center = item.coordinate;
        this.currentWindow.visible = true;
        this.currentWindow.content = `
            <div class="nav">隔离对象姓名：`+ item.name + `</div>
            <div class="nav">隔离对象电话：`+ item.phone + `</div>
            <div class="nav">隔离对象身份证号：`+ item.idCard + `</div>
            <div class="nav">返沪日期：`+ item.dateOfReturn + `</div>
            <div class="nav">区域名称：`+ item.areaName + `</div>
            <div class="nav">在沪居住地址：`+ item.address + `</div>
          `;
      });
    },
    //点击某一条查询数据的时候调用的方法设备列表
    switchWindow(tab, item) {
      this.currentWindow.visible = false;
      this.dialogVisible = false;
      this.$nextTick(() => {
        this.currentWindow.position = item.coordinate;
        this.center = item.coordinate;
        this.currentWindow.visible = true;
        this.currentWindow.content = `
            <div class="nav">设备编号： `+ item.id + `</div>
            <div class="nav">隔离对象姓名：`+ item.isolateName + `</div>
            <div class="nav">隔离对象电话：`+ item.isolateNumber + `</div>
            <div class="nav">责任人：`+ item.responsiblePerson + `</div>
            <div class="nav">安装位置：`+ item.areaName + `` + item.areaDetail + `</div>
            <div class="nav">安装时间：`+ item.createdTime + `</div>
            <div class="nav">报警时间：`+ item.bindTime + `</div>
          `;
      });
    },
    //点击第几页
    handleCurrentChange: function (currentPage) {
      this.params.pageNum = currentPage;
      console.log(currentPage);
      this.getSelectMap();
    },
    //点击第几页
    handleCurrentChange1: function (currentPage) {
      this.params1.pageNum = currentPage;
      console.log(currentPage);
      this.getSelectMap1();
    },
    //下拉框发生改变的时候
    currentSel(selVal) {
      this.params.pageSize = 10;
      this.params.pageNum = 1;
      this.params.id = '';
      this.params.isolateName = '';
      this.params.isolateNumber = '';
      this.params.responsiblePerson = '';
      this.params.responsiblePhone = '';
      this.params.areaId = '';
      this.inputVal = '';
    },
    //下拉框发生改变的时候
    currentSel1(selVal) {
      this.params1.pageSize = 10;
      this.params1.pageNum = 1;
      this.params1.name = '';//隔离人姓名
      this.params1.addressType = '';//地址类型
      this.params1.community = '';//社区模糊查询
      this.params1.areaId = '';//区域ID
      this.params1.fever = '';//是否
      this.params1.responsiblePerson = '';//责任人名字模糊查询
      this.params1.provenance = '';//返沪出发地
      this.params1.status = '';//隔离是否结束
    },
    //根据条件查询居家隔离列表
    getSelectMap1() {
      if (this.select1 == 1) {
        this.params1.name = this.inputVal1;
      }
      if (this.select1 == 2) {
        this.params1.areaId = this.inputVal1;
      }
      if (this.select1 == 3) {
        this.params1.responsiblePerson = this.inputVal1;
      }
      if (this.select1 == 4) {
        this.params1.provenance = this.inputVal1;
      }

      this.currentWindow.visible = false;
      // this.center = [121.59996, 31.197646];
      post_self_pageNum_pageSize(this.params1).then(res => {
        console.log(res.data);
        this.dialogVisible1 = true;
        this.tableData1 = res.data;
        this.params1.pageNum = res.data.pageNum;
        this.params1.pageSize = 10;
        this.totalCount1 = res.data.totalCount;

        var list = res.data.pageContent;
        var newList = [];
        for (var i = 0; i < list.length; i++) {
          if (list[i].coordinate) {
            let l = list[i].coordinate.split(",");
            list[i].coordinate = [l[1], l[0]];
            newList.push(list[i]);
          }
        }
        // console.log(newList)
        this.userList1 = newList;
        this.center = newList[0].coordinate;

      }).catch(e => {
        if (e.response.status == '419') {
          this.$message.error("请登录！");
          this.$router.push('/login');
        } else {
          // this.$message.error("请求失败，服务器错误");
          this.$message.error("请求失败" + e.response.data);
        }

      })
    },
    //根据条件查询设备列表
    getSelectMap() {
      if (this.select == 1) {
        this.params.id = this.inputVal;
      }
      if (this.select == 2) {
        this.params.isolateName = this.inputVal;
      }
      if (this.select == 3) {
        this.params.isolateNumber = this.inputVal;
      }
      if (this.select == 4) {
        this.params.responsiblePerson = this.inputVal;
      }
      if (this.select == 5) {
        this.params.responsiblePhone = this.inputVal;
      }
      if (this.select == 6) {
        this.params.areaId = this.inputVal;
      }
      this.currentWindow.visible = false;
      // this.center = [121.59996, 31.197646];
      post_device_pageNum_pageSize(this.params).then(res => {
        console.log(res.data);
        this.dialogVisible = true;
        this.tableData = res.data;
        this.params.pageNum = res.data.pageNum;
        this.params.pageSize = 10;
        this.totalCount = res.data.totalCount;

        var list = res.data.pageContent;
        var newList = [];
        for (var i = 0; i < list.length; i++) {
          if (list[i].coordinate) {
            let l = list[i].coordinate.split(",");
            list[i].coordinate = [l[1], l[0]];
            newList.push(list[i]);
          }
        }
        // console.log(newList)
        this.userList = newList;
        this.center = newList[0].coordinate;

      }).catch(e => {
        if (e.response.status == '419') {
          this.$message.error("请登录！");
          this.$router.push('/login');
        } else {
          // this.$message.error("请求失败，服务器错误");
          this.$message.error("请求失败" + e.response.data);
        }

      })
    },
    //查询所有居家隔离的标记点
    getsale() {
      get_self()
        .then(res => {
          var list = res.data;
          var newList = [];
          for (var i = 0; i < list.length; i++) {
            // console.log(list[i].coordinate);
            if (list[i].coordinate) {
              let l = list[i].coordinate.split(",");
              list[i].coordinate = [l[1], l[0]];
              newList.push(list[i]);
            }
          }
          console.log("居家隔离");
          // console.log(res);
          console.log(newList);
          this.userList1 = newList;
          // this.center = newList[0].coordinate;
        })
        .catch(e => {
          if (e.response.status == "419") {
            this.$message.error("请登录！");
            this.$router.push("/login");
          } else {
            // this.$message.error("请求失败，服务器错误");
            this.$message.error("请求失败" + e.response.data);
          }
        });
    },
    //查询所有设备列表的标记点
    getMap() {
      get_device_all()
        .then(res => {
          var list = res.data;
          var newList = [];
          for (var i = 0; i < list.length; i++) {
            if (list[i].coordinate) {
              let l = list[i].coordinate.split(",");
              list[i].coordinate = [l[1], l[0]];
              newList.push(list[i]);
            }
          }
          this.userList = newList;
          this.center = newList[0].coordinate;
        })
        .catch(e => {
          if (e.response.status == "419") {
            this.$message.error("请登录！");
            this.$router.push("/login");
          } else {
            // this.$message.error("请求失败，服务器错误");
            this.$message.error("请求失败" + e.response.data);
          }
        });
    }
  }
};
</script>

