<template>
    <div class="warninglist">
        <div class="warninglistBox">
            <div class="listitle">
                <span>设备号：{{deviceinfo.id}}的设备报警记录</span>
                <i class="el-icon-close" style="cursor:pointer" @click='closeDialog'></i>
            </div>
            <div class="listInfo">
                <div class="listInfotitle">
                    <span>报警记录&nbsp;共报警 <span style="background:#FF5722;color:white;padding:3px;line-height:20px">
                        {{devicewarnList.totalCount}}
                        </span> 次</span>
                    <div>
                        <el-button size="mini" :type="clickBtn===0?'primary':''" plain @click='chooseDevice(0)'>全部</el-button>
                        <el-button size="mini" :type="clickBtn===1?'primary':''" plain @click='chooseDevice(1)'>进出报警</el-button>
                        <el-button size="mini" :type="clickBtn===3?'primary':''" plain @click='chooseDevice(3)'>拆除报警</el-button>
                        <el-button size="mini" :type="clickBtn===4?'primary':''" plain @click='chooseDevice(4)'>低电报警</el-button>
                        <!-- <el-button size="mini" :type="clickBtn===3" plain @click='chooseDevice(1)'>安装通知</el-button> -->
                    </div>
                    <span>责任人：{{deviceinfo.responsiblePerson}} | 测试单位：{{deviceinfo.responsibleOrganization}}</span>
                </div>
                <div class="listInfocontent">
                    <span>设备号：{{deviceinfo.id}}</span>
                    <span>{{deviceinfo.areaDetail}}</span>
                    <el-steps style="padding:20px 0px;" direction="vertical">
                        <el-step icon="el-icon-price-tag" v-for="item in devicewarnList.pageContent" 
                        :key="item.messageId" :title="item.createdTime">
                            <template  slot="description">
                                <div class="stepMenu">{{item.type===1?'有人进出':item.type===3?'已拆卸':
                                    item.type===4?'低电压':'未知'}} 
                                    {{item.createdTime}} 备注：{{item.remarks}}
                                </div>
                            </template>
                        </el-step>
                    </el-steps>
                </div>
                <el-pagination
                    background
                    @current-change="handleCurrentChange"
                    :current-page.sync="page.start"
                    :page-size="page.count"
                    layout="prev, pager, next, jumper"
                    :total="devicewarnList.totalCount">
                </el-pagination>
            </div>
            <div class="warnfooter">
                <el-button type="primary" size="mini">确认</el-button>
            </div>
        </div>
    </div>
</template>

<script>
   import {get_alarm} from '@/api/gen-api'
    export default {
        data() {
            return {
                dialogVisible: true,
                devicewarnList:[],
                page: {
                    start:1,
                    count:10
                },
                clickBtn:0,//选中的按钮
                type:''
            }
        },
        props:['deviceinfo'],
        mounted(){
             this.getDeviceinfo(this.deviceinfo)
        },
        cerated(){
            this.$nextTick(()=>{
               
            })
        },
        methods:{
            closeDialog(){
               this.$emit('closeDialog',!this.dialogVisible) 
            },
            // 获取报警信息
            getDeviceinfo(data){
                let params = Object.assign(this.page,{deviceId:data.id},{type:this.type})
                console.log(params)
                get_alarm({},{params:params}).then(res=>{
                    if(res.status ===200){
                        this.devicewarnList = res.data
                    }else{
                        this.$message.error("请求失败");
                    }
                }).catch(e=>{
                    if(e.response.status == '419'){
                        this.$message.error("请登录！");
                        this.$router.push('/login');
                    }else{
                        // this.$message.error("请求失败，服务器错误");
                        this.$message.error("请求失败"+e.response.data);
                    }
                })
            },
            // 切换页码
            handleCurrentChange(page){
                this.page.start = page
                this.getDeviceinfo(this.deviceinfo)
            },
            chooseDevice(num){
                if(num===0){
                    this.type = ''
                }else{
                    this.type = num
                }
                this.clickBtn = num
                this.getDeviceinfo(this.deviceinfo)
            }
        }
    }
</script>

<style scoped>
.warninglist{
    width: 100%;
    min-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    background: rgba(0,0,0,0.5);
}
.warninglistBox{
    padding:20px 0;
    width: 80%;
    height: 550px;
    margin: 3% auto;
    background: #F8F8F8;
    color:#666666;
    font-size:14px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px auto 40px;
}
.listitle{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 98% 2%;
    grid-template-rows: 100%;
}
.listInfo{
    background:#F2F2F2;
    padding: 20px;
    overflow: auto;
}
.listInfotitle{
    background: white;
    width: 100%;
    height: 140px;
    display: grid;
    padding: 15px;
    grid-template-columns: 100%;
    grid-template-rows: 40px 50px 20px;
}
.listInfocontent{
    margin-top:20px;
    background: white;
    width: 100%;
    padding: 5px 15px 15px;
    /* height: 400px; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px 40px auto;
}
.listInfocontent span{
    line-height: 40px;
    border-bottom: 1px solid #f2f2f2;
}
.stepMenu{
    line-height: 40px;
    background:#F2F2F2 ;
    border-left:3px solid #07C160;
    margin-top:10px;
    margin-bottom:10px;
    padding-left: 20px;
    font-size: 14px;
}
.warnfooter{
    text-align: right;
    padding-top: 10px;
    padding-right: 40px
}
</style>
<style>
.el-step__description{
    padding-right: 0px;
}
</style>