<template>
  <div class="app-container">
    <!--历史弹出层开始-->
    <el-dialog
      :title="ls_title"
      :visible.sync="ls_dialogVisible"
      width="80%"
      :before-close="ls_handleClose">

      <el-form :inline="true" label-position="right" label-width="90px" :model="ls_formInline" class="demo-form-inline formbg">
      <el-form-item label="时间范围">
        <div class="block">
          <el-date-picker
            v-model="ls_formInline.value1"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss">
          </el-date-picker>
        </div>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="ls_onSubmit">查询</el-button>
      </el-form-item>
    </el-form>
        <el-table
          :data="ls_tableData"
          style="width: 100%">
          <el-table-column
            prop="deviceId"
            label="设备号"
            width="180">
          </el-table-column>
          <el-table-column
            prop="voltage"
            label="电压(mV)"
            width="180">
          </el-table-column>
          <el-table-column
            prop="temperature"
            label="温度(摄氏度)">
          </el-table-column>
          <el-table-column
            prop="si"
            label="信号强度(百分比)">
          </el-table-column>
          <el-table-column
            prop="enter"
            label="进入人数">
          </el-table-column>
          <el-table-column
            prop="out"
            label="离开人数">
          </el-table-column>
          <el-table-column
            prop="warnTime"
            label="触发时间">
          </el-table-column>
        </el-table>
        <el-pagination
          class="fystyle"
          @current-change="ls_handleCurrentChange"
          :current-page="ls_params.start"
          :page-size="ls_params.count"
          background
          layout="total, prev, pager, next"
          prev-text="上一页"
          next-text="下一页"
          :total="ls_totalCount">
        </el-pagination>    


      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="over">确 定</el-button>
      </span>
    </el-dialog>
    <!--历史弹出层结束-->
    <!--关注列表弹出层开始-->
    <el-dialog
    title="关注列表"
    :visible.sync="dialogVisible"
    width="80%"
    :before-close="handleClose">
    
    <div class="formbg1">
      <el-row :gutter="20">
        <el-col :span="6">
          <div class="sum">被关注总计<span>{{zong}}</span>个</div>
        </el-col>
        <el-col :span="6">
          <div class="sum">关注中<span>{{bindCount}}</span>个</div>
        </el-col>
        <el-col :span="6">
          <div class="sum">取消关注<span>{{noBindCount}}</span>个</div>
        </el-col>
      </el-row>
      <el-row :gutter="20" style="margin-top: 15px !important;">
        <el-col :span="20">
          微信关注人员：
          <el-select v-model="value_sel" placeholder="请选择" @change="selchange">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-col>
      </el-row>
    </div>
    <el-table
    :data="tableData1.attentionVos"
    stripe
    style="width: 100%">
    <el-table-column
      prop="deviceId"
      label="设备ID"
      width="180">
    </el-table-column>
    <el-table-column
      prop="nickname"
      label="微信昵称"
      width="180">
    </el-table-column>
    <el-table-column
      prop="name"
      label="关注人"
      width="180">
    </el-table-column>
    <el-table-column
      prop="organization"
      label="单位"
      width="180">
    </el-table-column>
    <el-table-column
      prop="isOwner"
      label="是否为所有者"
      :formatter="formatStates_isq"
      :show-overflow-tooltip="true"
      width="180">
    </el-table-column>
    <el-table-column
      prop="createdTime"
      label="绑定时间"
      width="180">
    </el-table-column>
    <el-table-column
      prop="status"
      label="状态"
      :formatter="formatStates_sta"
      :show-overflow-tooltip="true"
      width="180">
    </el-table-column>
    <el-table-column
      prop="lastUpdatedTime"
      label="更新时间"
      width="180">
    </el-table-column>
    
    <el-table-column
      fixed="right"
      label="操作"
      width="100">
      <template slot-scope="scope">
        <el-button v-if="scope.row.status == 0" type="primary" @click="deleteqx(scope.row)" size="small">取消关注</el-button>
        <el-button v-if="scope.row.status == 1" disabled type="info"  size="small">已取消关注</el-button>
        <!-- <el-button type="info" size="small">地图</el-button> -->
      </template>
    </el-table-column>
  </el-table>
  



    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false">关闭</el-button>
    </span>
  </el-dialog>
    <!--关注列表弹出层结束-->
    <el-form :inline="true" label-position="left" label-width="130px" :model="formInline" class="demo-form-inline formbg">
      <!-- <el-form-item label="">
        <el-select v-model="formInline.seleVal" placeholder="请选择查询条件" @change="currentSel">
          <el-option label="设备编号" value="0"></el-option>
          <el-option label="隔离观察对象姓名" value="1"></el-option>
          <el-option label="隔离观察对象电话" value="2"></el-option>
          <el-option label="责任人姓名" value="3"></el-option>
          <el-option label="责任人电话" value="4"></el-option>
          <el-option label="管控区域" value="5"></el-option>
          <el-option label="全部" value="6"></el-option>
        </el-select>
      </el-form-item> -->
      <el-form-item label="设备编号">
        <el-input v-model="formInline.sbbh"></el-input>
      </el-form-item>
      <el-form-item label="隔离观察对象姓名">
        <el-input v-model="formInline.glname"></el-input>
      </el-form-item>
      <el-form-item label="隔离观察对象电话">
        <el-input v-model="formInline.glphone"></el-input>
      </el-form-item>
      <el-form-item label="责任人姓名">
        <el-input v-model="formInline.zrname"></el-input>
      </el-form-item>
      <el-form-item label="责任人电话">
        <el-input v-model="formInline.zrphone"></el-input>
      </el-form-item>
      <el-form-item label="管控区域">
        <el-input v-model="formInline.gkqy"></el-input>
      </el-form-item>
      <el-form-item label="设备状态">
        <el-select
                v-model="formInline.status"
                placeholder="请选择设备状态">
                <el-option
                    v-for="item in statusList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
            </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="onSubmit">查询</el-button>
      </el-form-item>
      <!-- <el-form-item>
        <el-button type="primary" @click="dowmloadExcel">下载</el-button>
      </el-form-item> -->
      <el-form-item>
        <el-upload
          class="upload-demo"
          action="/adminapi/device/importDevice"
          ref="deviceExcel"
          name='excel'
          multiple
          :on-success='uploadExcelon'
          :on-error='uploadExceloff'
          :limit="1">
         <el-button type="primary">上传excel</el-button>
      </el-upload>
        
      </el-form-item>
    </el-form>
    <el-table
    :data="tableData.pageContent"
    stripe
    style="width: 100%">
    <el-table-column
      prop="id"
      label="设备编号"
      width="180">
    </el-table-column>
    <el-table-column
      prop="isolateName"
      label="隔离观察对象姓名"
      width="180">
    </el-table-column>
    <el-table-column
      prop="isolateNumber"
      label="隔离观察对象电话"
      width="180">
    </el-table-column>
    <el-table-column
      prop="responsiblePerson"
      label="责任人"
      width="180">
    </el-table-column>
    <el-table-column
      prop="responsiblePhone"
      label="责任人电话"
      width="180">
    </el-table-column>
    <el-table-column
      prop="responsibleOrganization"
      label="责任人单位"
      width="180">
    </el-table-column>
    <el-table-column
      prop="bindingCount"
      label="关注人数"
      width="180">
    </el-table-column>
    <el-table-column
      prop="areaName"
      label="管控区域"
      width="180">
    </el-table-column>
    <el-table-column
      prop="todayAlarmCount"
      label="今日报警"
      width="180">
    </el-table-column>
    <el-table-column
      prop="createdTime"
      label="安装时间"
      width="180">
    </el-table-column>
    <el-table-column
      prop="bindTime"
      label="绑定时间"
      width="180">
    </el-table-column>
    <el-table-column
      prop="areaDetail"
      label="详细地址"
      width="180">
    </el-table-column>
    <el-table-column prop="status"
      label="设备状态"
      width="200"
      :formatter="formatStates"
      :show-overflow-tooltip="true">
    </el-table-column>
    <el-table-column
      fixed="right"
      label="操作"
      width="400">
      <template slot-scope="scope">
        <el-button @click="eyeList(scope.row)" type="primary" size="small" style="background:#00bfbf !important;border:1px solid #00bfbf !important;">关注</el-button>
        <el-button @click="warnClick(scope.row)" type="warning" size="small">报警</el-button>
        <!-- <el-button type="success" size="small">微信</el-button> -->
        <el-button type="primary" @click="editClick(scope.row)" size="small">编辑</el-button>
        <el-button type="success" size="small" @click="delUnBinding(scope.row)">解綁</el-button>
        <el-button type="primary" size="small" @click="openAlarm(scope.row)">历史</el-button>
      </template>
    </el-table-column>
  </el-table>
  <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="params.pageNum"
          :page-size="params.pageSize"
          background
          layout="total, prev, pager, next"
          prev-text="上一页"
          next-text="下一页"
          :total="totalCount">
        </el-pagination>    
    <warnlist v-if="listShow" :deviceinfo='deviceinfo' @closeDialog='closeDialog'></warnlist>   
    <editw v-if="editShow" :deviceinfo='deviceinfo' @closeDialog='closeditDialog'></editw> 
  </div>
</template>

<script>
import { post_device_pageNum_pageSize,get_device_attention,put_device_unAttention} from "@/api/gen-api";
import warnlist from '@/components/warninglist';
import editw from '@/components/editW';
import {putUnBinding,alarmDetail} from "@/api/regional";
export default {
  components: {
    warnlist,
    editw,
  },
  data() {
    return {
      statusList:[
                {label:'初始状态',value:0},
                {label:'已经拆卸',value:3}, 
                {label:'低电压',value:4},
                {label:'已安装',value:5},
            ],
      options: [{
          value: '',
          label: '全部'
        }, {
          value: '0',
          label: '关注中'
        }, {
          value: '1',
          label: '已取关'
      }],
      value_sel: '',//status
      newid:'',//id
      noBindCount:0,//未绑定
      bindCount:0,//已绑定
      zong:0,
      totalCount:0,
      dialogVisible:false,
      params: {
        pageSize: 10, //每页的数据条数
        pageNum: 1,//默认显示页面
        id:'',//设备编号
        isolateName:'',//隔离姓名
        isolateNumber:'',//联系电话
        responsiblePerson:'',//负责人
        responsiblePhone:'',//负责人电话
        areaName:'',//区域ID
        status:''//设备状态
      },
      value:'',
      tableData: [],
      formInline: {
          sbbh:'',//设备编号
          glname:'',//隔离对象姓名
          glphone:'',//隔离对象手机
          zrname:'',//责任人姓名
          zrphone:'',//责任人手机
          gkqy:'',//管控区域
          status:'',//设备状态

      },
      listShow:false,  //显示报警记录
      editShow:false,
      deviceinfo:{},
      tableData1: [],

      ls_dialogVisible: false,//历史弹出层隐藏显示
      ls_title:"",
      ls_tableData:[],
      ls_params: {
        start : 1,//默认显示页面
        count : 10,//每页的数据条数
        startTime : '',
        endTime : '',
        deviceId : '',
      },
      ls_totalCount:0,
      ls_formInline:{
        value1:''
      }

    }
  },
  methods:{
  over(){
    this.ls_tableData = [];
    this.ls_dialogVisible = false;
  },
  //条件查询
  ls_onSubmit(){
    this.ls_params.startTime = this.ls_formInline.value1[0];
    this.ls_params.endTime = this.ls_formInline.value1[1];
    this.queryAlarm();
  },
  queryAlarm(){
    alarmDetail(this.ls_params).then(res => {
      this.ls_tableData = res.pageContent;
      this.ls_totalCount = res.totalCount;
      this.ls_params.start = res.pageNum;
      //清空查询表单
      this.ls_formInline.value1 = '';//日期
      
    }).catch(e => {
          if(e.response.status == '419'){
            this.$message.error("请登录！");
            this.$router.push('/login');
          }else{
            // this.$message.error("请求失败，服务器错误");
            this.$message.error("请求失败"+e.response.data);
          }
          
    })
  },
  openAlarm(row){
    this.ls_params.deviceId = row.id;
    this.ls_dialogVisible = true;
    this.ls_title = "设备号："+ row.id + "进出历史记录";
    this.queryAlarm();
  },
  ls_handleClose(done) {
    done();
  },
  //解除綁定
  delUnBinding(row){
    this.$confirm('确认解除此负责人的绑定吗？(解除绑定后设备列表中不再有该设备信息，重新安装绑定后会重新出现在设备列表中)', '提示', {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning'
    }).then(() => {
      putUnBinding(row.id).then(res => {
        this.$message({
          type: 'success',
          message: '解绑成功!'
        });
        
      }).catch(e => {
            if(e.response.status == '419'){
              this.$message.error("请登录！");
              this.$router.push('/login');
            }else{
              // this.$message.error("请求失败，服务器错误");
              this.$message.error("请求失败"+e.response.data);
            }
            
      })
    }).catch(() => {
      this.$message({
        type: 'info',
        message: '已取消解绑！'
      });          
    });
  },
  //下拉框发生变化的时候
  selchange(sel){
    this.value_sel = sel;
    this.geteyeList(this.newid)
  },
  //状态
  formatStates_sta: function (row, column, cellValue) {
        var ret = ''  //你想在页面展示的值
        if(cellValue === 0) {
            ret = "已绑定"  
        } 
        if(cellValue === 1) {
            ret = "已删除";
        }
        return ret;
  },
  //是否为所有者
  formatStates_isq: function (row, column, cellValue) {
        var ret = ''  //你想在页面展示的值
        if(cellValue === '0') {
            ret = "非所有者"  
        } 
        if(cellValue === '1') {
            ret = "所有者"  
        }
        return ret;
    },
  //状态
  formatStates: function (row, column, cellValue) {
        var ret = ''  //你想在页面展示的值
        if(cellValue === 0) {
            ret = "初始状态"  
        } 
        if(cellValue === 3) {
            ret = "已拆卸"  
        } 
        if(cellValue === 4) {
            ret = "低电压"  
        }
        if(cellValue === 5){
            ret = "已安装"  
        }
        return ret;
    },
  // currentSel(selVal){
  //     this.formInline.seleVal = selVal;
  //     this.params.pageSize = 10;
  //     this.params.pageNum = 1;
  //     this.params.id = '';
  //     this.params.isolateName = '';
  //     this.params.isolateNumber = '';
  //     this.params.responsiblePerson = '';
  //     this.params.responsiblePhone = '';
  //     this.params.areaName = '';
    
  // },
    //点击第几页
  handleCurrentChange: function(currentPage) {
      this.params.pageNum = currentPage;
      this.getdeviceList();
  },
      //点击第几页
  ls_handleCurrentChange: function(currentPage) {
      this.ls_params.start = currentPage;
      this.queryAlarm();
  },
  //查询
  onSubmit(){
    this.params.pageSize = 10;
    this.params.pageNum = 1;
    this.params.id = this.formInline.sbbh;
    this.params.isolateName = this.formInline.glname;
    this.params.isolateNumber = this.formInline.glphone;
    this.params.responsiblePerson = this.formInline.zrname;
    this.params.responsiblePhone = this.formInline.zrphone;
    this.params.areaName = this.formInline.gkqy;
    this.params.status = this.formInline.status;
    this.getdeviceList();
  },
  //分页列表
  getdeviceList(){
      
      post_device_pageNum_pageSize(this.params).then(res => {
        // console.log(res.data);
        this.tableData = res.data;
        this.params.pageNum = res.data.pageNum;
        this.params.pageSize = res.data.pageSize;
        this.totalCount = res.data.totalCount;

        //清空查询表单
        this.params.pageSize = 10;
        this.params.pageNum = 1;
        this.formInline.sbbh = '';
        this.formInline.glname = '';
        this.formInline.glphone = '';
        this.formInline.zrname = '';
        this.formInline.zrphone = '';
        this.formInline.gkqy = '';
        this.formInline.status = '';
       
      }).catch(e => {
            if(e.response.status == '419'){
              this.$message.error("请登录！");
              this.$router.push('/login');
            }else{
              // this.$message.error("请求失败，服务器错误");
              this.$message.error("请求失败"+e.response.data);
            }
            
      })
    },
    handleClose(done) {
        done();
    },
    //删除关注
    deleteqx(row){
      console.log("删除");
      put_device_unAttention({},{
        params:{
          id:row.id
        }
      }).then(res => {
        this.geteyeList(row.deviceId);//刷新列表
      }).catch(e => {
              if(e.response.status == '419'){
                this.$message.error("请登录！");
                this.$router.push('/login');
              }else{
                // this.$message.error("请求失败，服务器错误");
                this.$message.error("请求失败"+e.response.data);
              }
              
      })
    },
    //查看关注列表
    eyeList(row){
      this.geteyeList(row.id);
    },
    //方法
    geteyeList(id){
      this.newid = id;
      if(this.value_sel === '0'|| this.value_sel === '1'){
        get_device_attention({},{
          params:{
            deviceId:this.newid,
            status:this.value_sel
          }
        }).then(res => {
          console.log(res);
          this.dialogVisible = true;
          this.tableData1 = res.data;
          this.noBindCount = res.data.noBindCount;//未绑定
          this.bindCount = res.data.bindCount;//已绑定
          this.zong = res.data.bindCount + res.data.noBindCount;//总关注
        }).catch(e => {
                if(e.response.status == '419'){
                  this.$message.error("请登录！");
                  this.$router.push('/login');
                }else{
                  // this.$message.error("请求失败，服务器错误");
                  this.$message.error("请求失败"+e.response.data);
                }
                
        })
      }else{
          get_device_attention({},{
          params:{
            deviceId:this.newid
          }
        }).then(res => {
          console.log(res);
          this.dialogVisible = true;
          this.tableData1 = res.data;
          this.noBindCount = res.data.noBindCount;//未绑定
          this.bindCount = res.data.bindCount;//已绑定
          this.zong = res.data.bindCount + res.data.noBindCount;//总关注
        }).catch(e => {
                if(e.response.status == '419'){
                  this.$message.error("请登录！");
                  this.$router.push('/login');
                }else{
                  // this.$message.error("请求失败，服务器错误");
                  this.$message.error("请求失败"+e.response.data);
                }
                
        })

      }
    },
    warnClick(row) {//查看报警记录
      if(localStorage.getItem('permissions').indexOf('device:delete') === -1){
          this.$message({
              type:'warning',
              message:'您没有此权限，请联系管理员'
          })
      }else{
          this.listShow= true
          this.deviceinfo = row
          console.log(row)
      }
     
    },
    editClick(row) { //编辑单条信息
      if(localStorage.getItem('permissions').indexOf('device:update') === -1){
          this.$message({
              type:'warning',
              message:'您没有此权限，请联系管理员'
          })
      }else{
          this.editShow = true
          this.deviceinfo = row
          console.log(row)
      }
      
    },
    // 关闭弹框
    closeDialog(res){
      this.listShow = res
    },
    closeditDialog(res){
      this.editShow = res
      this.getdeviceList();
    },
    dowmloadExcel(){
      window.location.href='/excel/demo.xlsx'
    },
    uploadExcelon(){
       this.$message({
         type:'success',
         message:'上传成功'
       })
       this.$refs.deviceExcel.clearFiles()
    },
    uploadExceloff(){
      this.$message({
         type:'warning',
         message:'上传失败，请重试'
       })
       this.$refs.deviceExcel.clearFiles()
    }
  },
  created() {
    this.$nextTick(() => {
      this.getdeviceList();
    });
  }
}
</script>
<style scoped>
.app-container{
  position: relative;
  /* height: calc(100vh- 50px);  */
}
.formbg{background:#f2f2f2;padding-top: 20px;padding-left: 10px;}
.formbg1{background:#f2f2f2;padding-top: 20px;padding-left: 10px;padding-bottom: 20px;margin-bottom: 20px;}
.fystyle{margin-top: 20px;}
.formbg1 .sum span{font-size: 20px;font-weight: bold;color: #409EFF;padding-left: 5px;padding-right: 5px;}
</style>
<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
<style>
.el-input--suffix .el-input__inner {
    padding-right: 15px !important;
}
</style>
