<template>
    <div class="account">
        <el-form ref="form" :model="form" class="accountSearch" label-width="80px">
          <el-table-column
            type="selection"
            width="55">
          </el-table-column>
          <el-form-item label="所属区域">
            <el-select
                v-model="params.serialNo"
                filterable
                remote
                clearable
                reserve-keyword
                placeholder="请输入关键词"
                :remote-method="remoteMethod"
                :loading="loading">
                <el-option
                    v-for="item in options"
                    :key="item.serialNo"
                    :label="item.areaName"
                    :value="item.serialNo">
                </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="用户名">
            <el-input v-model="params.username"></el-input>
          </el-form-item>
          <el-form-item label="角色">
            <!-- <el-input v-model="params.roleId" @blur="getRole"></el-input> -->
            <el-select v-model="params.roleId" clearable placeholder="请选择">
                <el-option
                v-for="item in roleList"
                :key="item.id"
                :label="item.name"
                :value="item.id">
                </el-option>
            </el-select>
          </el-form-item>
          <el-button type="primary" style="margin-left:20px" icon="el-icon-search"  size="small" @click="searchItem">搜索</el-button>
          <el-button type="primary" size="small" icon="el-icon-plus" @click="editClick('add')">添加</el-button>
        </el-form>
        <el-table
            :data="tableData"
            stripe
            :header-cell-class-name='tableHeaderClassName'
            style="width: 100%">
            <el-table-column
                align='center'
                prop="serialNo"
                label="行政区划编码">
            </el-table-column>
            <el-table-column
                align='center'
                prop="username"
                label="用户名">
            </el-table-column>
            <el-table-column
                align='center'
                prop="createdTime"
                label="创建时间">
            </el-table-column>
            <el-table-column
                align='center'
                prop="name"
                label="所属区域">
            </el-table-column>
            <el-table-column
                align='center'
                prop="roleName"
                label="角色">
            </el-table-column>
            
            <el-table-column
                align='center'
                label="操作">
                <template slot-scope="scope">
                    <i class="el-icon-edit-outline" style="cursor:pointer;color:#000;font-size:20px" @click="editClick('edit',scope.row)"></i>
                    <i class="el-icon-delete" style="cursor:pointer;color:rgb(216,30,6);font-size:20px" @click="deleteClick(scope.row)"></i>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
            class="fystyle"
            @current-change="handleCurrentChange"
            :current-page="params.pageNo"
            :page-size="params.pageSize"
            background
            layout="total, prev, pager, next"
            prev-text="上一页"
            next-text="下一页"
            :total="totalCount">
        </el-pagination>
        <transition name="fade">
            <editpage v-if="eitShow" @closeedit='closeedit' :editTitle='title' :single='singleId'></editpage>
        </transition>
    </div>
</template>

<script>
    import editpage from './editPage'
    
    import {mapActions,mapState} from 'vuex'
    export default {
        components:{
            editpage
        },
        computed:{
            ...mapState({
                roleList:state=>state.account.roleList //获取角色列表
            })
        },
        data(){
            return{
                form:{},
                tableData:[],
                params:{
                    pageNo:1,
                    pageSize:10,
                    serialNo:'',//区域编号
                    username:'',//用户名
                    roleId:''//角色
                },
                totalCount:0,
                eitShow:false,
                title:'',
                options:[],//查询列表
                loading:false,// 查询时候的加载
                singleId:0,//单独id
                deletePage:{
                    pages:0,
                    islastpage:false,
                    size:0
                }
            }
        },
        created(){
            this.getAccountlist()
            this.SEARCH_ROLE()
            
        },
        methods:{
            ...mapActions([
                'ACCOUNT_LIST','SEARCH_AREA','SEARCH_ROLE','DELETE_ACCOUNT'
            ]),
            // 获取列表
            getAccountlist(){
                this.ACCOUNT_LIST(this.params).then(res=>{
                    this.tableData = res.list
                    this.totalCount = res.total
                    this.deletePage ={size:res.size,islastpage:res.isLastPage,pages:res.pages}
                })
            },
            tableHeaderClassName({row,index}){//设置表头样式
                return 'backBlack';
            },
            handleCurrentChange(num){//切换页码时候的
                this.params.pageNo = num
                this.getAccountlist()
            },
            // 查询
            searchItem(){
                this.getAccountlist()
            },
            editClick(str,data){
                switch(str){
                    case 'add':
                        if(localStorage.getItem('permissions').indexOf('user:add') === -1){
                            this.$message({
                                type:'warning',
                                message:'您没有此权限，请联系管理员'
                            })
                        }else{
                            this.title = {name:'添加账号',type:'add'}
                        }
                        
                        break;
                    case 'edit':
                        if(localStorage.getItem('permissions').indexOf('user:update') === -1){
                            this.$message({
                                type:'warning',
                                message:'您没有此权限，请联系管理员'
                            })
                        }else{
                            this.singleId =data.id
                            this.title = {name:'编辑账号',type:'edit'}
                        }
                        
                        break;
                }
                this.eitShow = true
            },
            deleteClick(row){//删除
                if(localStorage.getItem('permissions').indexOf('user:delete') === -1){
                    this.$message({
                        type:'warning',
                        message:'您没有此权限，请联系管理员'
                    })
                }else{
                    this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        console.log(this.deletePage)
                        if(this.deletePage.size===1 && this.deletePage.pages>1 && this.deletePage.islastpage){
                            this.params.pageNo--
                            console.log(this.params)
                        }
                        this.DELETE_ACCOUNT({id:row.id}).then(res=>{
                            console.log(res)
                            if(res.indexOf('删除成功')!== -1){

                                this.getAccountlist()
                                this.$message({
                                    type: 'success',
                                    message: '删除成功!'
                                });
                            } 
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });          
                    });
                }
               
            },
            closeedit(boo){
                // console.log(boo)
                this.eitShow = boo
                this.getAccountlist()
            },
            remoteMethod(query) {//搜索查询
                if (query !== '') {
                    this.loading = true;
                    this.SEARCH_AREA({name:query}).then(res=>{
                        this.loading = false;
                        this.options= res
                    })
                } else {
                    this.options = [];
                }
            }
        }
    }
</script>

<style scoped>
.account{
    width:100%;
    padding: 30px;
}
.accountSearch{
    height: 40px;
    display: flex;
    flex-direction:row;
    margin-bottom: 20px;
}
.serrchItem{
    width: 20%;
}
.fystyle{
    margin-top: 15px;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
<style>
.el-table .backBlack {
    background: rgb(48,66,86);
    color: floralwhite;
  }
/* .el-table th{
    background: rgb(48,66,86) !important;
    color: floralwhite;
} */
</style>