<template>
    <div class="editpassword">
        <div class="editpasswordForm">
            <el-form style="width:500px" :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="密码" prop="pass">
                    <el-input type="password" v-model="ruleForm.password" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="确认密码" prop="checkPass">
                    <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</template>

<script>
    import {put_user_updatePwd} from '@/api/gen-api'
    export default {
        data(){
             var validatePass = (rule, value, callback) => {
                if (value === '') {
                callback(new Error('请输入密码'));
                } else {
                if (this.ruleForm.checkPass !== '') {
                    this.$refs.ruleForm.validateField('checkPass');
                }
                callback();
                }
            };
             var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.password) {
                callback(new Error('两次输入密码不一致!'));
                } else {
                callback();
                }
            };
            return{
                ruleForm:{
                    password:'',
                    checkPass:''
                },
                rules: {
                    pass: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    checkPass: [
                        { validator: validatePass2, trigger: 'blur' }
                    ]
                }
            }
        },
        methods:{
            submitForm(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        put_user_updatePwd({},{params:{password:this.ruleForm.password}}).then(res=>{
                            console.log(res)
                            if(res.status===200){
                                this.$router.push('/login');
                                this.$message({
                                    type:'success',
                                    message:'修改成功,请重新登录'
                                })
                            }
                        })
                    } else {
                        
                        return false;
                    }
                });
            }
    
        }
    }
</script>

<style scoped>
.editpassword{
    width: 100%;
    height: calc(100vh - 60px);
    padding-top: 10px;
    background: #F2F2F2
}
.editpasswordForm{
 width: 90%;
 height:200px;
 background: white;
 padding-top: 30px;
 margin:20px auto
}
</style>