<template>
  <div class="app-container bg">
    <el-row :gutter="24">
      <el-col style="width:20%">
        <div class="grid-content bg-purple">
          <div class="flex-nav flex_boarder">
            <div class="nav-left">总设备</div>
            <div class="nav-right"><span class="navbg1">总</span></div>
          </div>
          <div class="sum navbg11">{{resData.totalDeviceCount}}</div>
          <div class="flex-nav">
            <div class="nav-left">今日新增</div>
            <div class="nav-right">{{resData.todayDeviceBindCount}}台</div>
          </div>
          <div class="flex-nav">
            <div class="nav-left">昨日新增</div>
            <div class="nav-right">{{resData.yesterdayDeviceBindCount}}台</div>
          </div>
        </div>
      </el-col>
      <el-col style="width:20%">
        <div class="grid-content bg-purple">
          <div class="flex-nav flex_boarder">
            <div class="nav-left">今日进出</div>
            <div class="nav-right"><span class="navbg2">今</span></div>
          </div>
          <div class="sum navbg22">{{resData.todayInOutCount}}</div>
          <div class="flex-nav">
            <div class="nav-left">昨日进出</div>
            <div class="nav-right">{{resData.yesterdayInOutCount}}次</div>
          </div>
          <div class="flex-nav">
            <div class="nav-left">30天内进出</div>
            <div class="nav-right">{{resData.thirtyDaysInOutCount}}次</div>
          </div>
        </div>
      </el-col>
      <el-col style="width:20%">
        <div class="grid-content bg-purple">
          <div class="flex-nav flex_boarder">
            <div class="nav-left">今日拆卸</div>
            <div class="nav-right"><span class="navbg3">今</span></div>
          </div>
          <div class="sum navbg33">{{resData.todayDismantleCount}}</div>
          <div class="flex-nav">
            <div class="nav-left">昨日拆卸</div>
            <div class="nav-right">{{resData.yesterdayDismantleCount}}次</div>
          </div>
          <div class="flex-nav">
            <div class="nav-left">30天内拆卸</div>
            <div class="nav-right">{{resData.thirtyDaysDismantleCount}}次</div>
          </div>
        </div>
      </el-col>
      <el-col style="width:20%">
        <div class="grid-content bg-purple">
          <div class="flex-nav flex_boarder">
            <div class="nav-left">自我隔离总数</div>
            <div class="nav-right"><span class="navbg4">总</span></div>
          </div>
          <div class="sum navbg44">{{resData.selfQuarantineCount}}</div>
          <div class="flex-nav">
            <div class="nav-left">今日新增</div>
            <div class="nav-right">{{resData.todaySelfQuarantineCount}}人</div>
          </div>
          <div class="flex-nav">
            <div class="nav-left">昨日新增</div>
            <div class="nav-right">{{resData.yesterdaySelfQuarantineCount}}人</div>
          </div>
        </div>
      </el-col>
       <el-col style="width:20%">
        <div class="grid-content bg-purple">
          <div class="flex-nav flex_boarder">
            <div class="nav-left">解除自我隔离</div>
            <div class="nav-right"><span class="navbg4">总</span></div>
          </div>
          <div class="sum navbg44">{{resData.allReleaseCount}}</div>
          <div class="flex-nav">
            <div class="nav-left">今日解除</div>
            <div class="nav-right">{{resData.todayReleaseCount}}人</div>
          </div>
          <div class="flex-nav">
            <div class="nav-left">昨日解除</div>
            <div class="nav-right">{{resData.yesterdayReleaseCount}}人</div>
          </div>
        </div>
      </el-col>
    </el-row>

    <el-row :gutter="24">
      <el-col :span="24">
          <div class="grid-content bg-purple">
            <div ref="myEchart" style="width:100%;height:57vh;"></div>
          </div>
      </el-col>
      <!-- <el-col :span="12">
          <div class="grid-content bg-purple">
            <div ref="myEchart" style="width:100%;height:57vh;"></div>
          </div>
      </el-col>
      <el-col :span="12">
          <div class="grid-content bg-purple">
            <div ref="myEchart2" style="width:100%;height:57vh;"></div>
          </div>
      </el-col> -->
    </el-row>
  </div>
</template>

<script>
import Vue from "vue";
import echart from 'echarts'
import { get_device_statistic,get_device_dataMonitor_unit} from "@/api/gen-api";
export default {
  data() {
    return {
      resData:[],
      inOut:[],//报警数
      selfAll:[],//自我隔离
      bind:[],//设备量
      self:[],//解除自我隔离
      dismantled:[],//拆卸设备
      lowPower:[],//低电设备
      dataTime:[],//日期
      selfData:[],//居家隔离
      params:{
        unit:'day'
      }
      
    }
  },
  methods:{
        getEchart(){
            // 基于准备好的dom，初始化echarts实例
            let myChart = echart.init(this.$refs.myEchart);
            // 绘制图表，this.echarts1_option是数据
            myChart.setOption({
              title: {
                  text: '七天以内数据',
                  textStyle:{
              　　　　 fontSize:14
                  }
              },
              tooltip: {
                  trigger: 'axis',
              },
              legend: {
                  data: ['报警数','自我隔离','设备数','解除自我隔离']
              },
              toolbox: {
                  feature: {
                      saveAsImage: {}
                  }
              },
              grid: {
                  left: '3%',
                  right: '4%',
                  bottom: '3%',
                  containLabel: true
              },
              xAxis: [
                  {
                      type: 'category',
                      boundaryGap: false,
                      data: this.dataTime
                  }
              ],
              yAxis: [
                  {
                      type: 'value'
                  }
              ],
              series: [
                  {
                      name: '报警数',
                      type: 'line',
                      stack: '总量',
                      smooth: true,
                      data: this.inOut
                  },
                  {
                      name: '自我隔离',
                      type: 'line',
                      stack: '总量',
                      smooth: true,
                      data: this.selfAll
                  },
                  {
                      name: '设备数',
                      type: 'line',
                      stack: '总量',
                      smooth: true,
                      data: this.bind
                  },
                  {
                      name: '解除自我隔离',
                      type: 'line',
                      stack: '总量',
                      smooth: true,
                      data: this.self
                  }
              ]
            });
        },
        // getEchart2(){
        //     // 基于准备好的dom，初始化echarts实例
        //     let myChart = echart.init(this.$refs.myEchart2);
        //     // 绘制图表，this.echarts1_option是数据
        //     myChart.setOption({
        //       title: {
        //           text: '七天内居家隔离人数',
        //           textStyle:{
        //       　　　　 fontSize:14
        //           }
        //       },
        //       tooltip: {
        //           trigger: 'axis',
        //       },
        //       legend: {
        //           data: ['居家隔离人数', '隔离到期人数']
        //       },
        //       toolbox: {
        //           feature: {
        //               saveAsImage: {}
        //           }
        //       },
        //       grid: {
        //           left: '3%',
        //           right: '4%',
        //           bottom: '3%',
        //           containLabel: true
        //       },
        //       xAxis: [
        //           {
        //               type: 'category',
        //               boundaryGap: false,
        //               data: ['2020-01-01','2020-01-02','2020-01-03','2020-01-04','2020-01-05','2020-01-06','2020-01-07']
        //           }
        //       ],
        //       yAxis: [
        //           {
        //               type: 'value'
        //           }
        //       ],
        //       series: [
        //           {
        //               name: '居家隔离人数',
        //               type: 'line',
        //               stack: '总量',
        //               smooth: true,
        //               data: [5,5,22,30,13,22,13]
        //           },
        //           {
        //               name: '隔离到期人数',
        //               type: 'line',
        //               stack: '总量',
        //               smooth: true,
        //               data: [21,5,22,50,13,22,9]
        //           },
        //       ]
        //     });
        // },
        //统计数据信息
        getStatistic(){
          get_device_statistic().then(res => {
            // console.log(res.data.yesterdaySelfQuarantineCount);
            // console.log(res);
            this.resData = res.data;
            this.getgetDataMonitor();
          }).catch(e => {
            if(e.response.status == '419'){
              this.$message.error("请登录！");
              this.$router.push('/login');
            }else{
              // this.$message.error("请求失败，服务器错误");
              this.$message.error("请求失败"+e.response.data);
            }
            
          })
        },
        //图标数据
        getgetDataMonitor(){
          get_device_dataMonitor_unit(this.params).then(res => {
            console.log(res.data);
            res.data.inOut.map( item => {//报警数
              this.inOut.push(item.count);
            })
            res.data.selfAll.map( item => {//自我隔离
              this.selfAll.push(item.count);
            })
            res.data.bind.map( item => {//设备数
              this.bind.push(item.count);
            })
            res.data.self.map( item => {//解除自我隔离
              this.self.push(item.count);
            })
            res.data.inOut.map( item => {//日期
              this.dataTime.push(item.day);
            })
            
            this.getEchart();
          }).catch(e => {
            if(e.response.status == '419'){
              this.$message.error("请登录！");
              this.$router.push('/login');
            }else{
              // this.$message.error("请求失败，服务器错误");
              this.$message.error("请求失败"+e.response.data);
            }
            
          })
        }
    },
    created() {
        this.$nextTick(()=>{
            this.getStatistic();
            // this.getEchart2();
        })
    }
}
</script>
<style scoped>
  .sum{font-weight: bold;font-size: 30px;margin-bottom: 15px;margin-top: 15px;}
  .flex-nav{display: flex;justify-content:space-between;align-items: center;padding: 5px;}
  .flex_boarder{border-bottom: 1px solid #f6f6f6;height: 40px;line-height: 40px;margin-bottom: 10px;}
  .nav-right span{color: #ffffff;padding: 5px;border-radius: 2px;font-size: 14px;}
  .navbg1{background: #01AAED;}
  .navbg2{background: #2F4056;}
  .navbg3{background: #009688;}
  .navbg4{background: #FFB800;}
  .navbg11{color: #01AAED;}
  .navbg22{color: #2F4056;}
  .navbg33{color: #009688;}
  .navbg44{color: #FFB800;}

</style>
<style lang="scss" scoped>
.bg{background: #f2f2f2;height: 100vh;}
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #ffffff;
  }
  .bg-purple {
    background: #ffffff;
    padding: 10px;
  }
  .bg-purple-light {
    background: #ffffff;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #ffffff;
  }
</style>
