<template>
    <div class="warninglist">
        <div class="warninglistBox">
            <div class="listitle">
                <span>编辑</span>
                <i class="el-icon-close" style="cursor:pointer" @click='closeDialog'></i>
            </div>
            <div class="listInfos">
               <el-form style="width:500px" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="150px" class="demo-ruleForm">
                    <el-form-item label="隔离观察对象" prop="name">
                        <el-input v-model="ruleForm.name"></el-input>
                    </el-form-item>
                    <el-form-item label="性别" prop="sex">
                        <el-radio-group v-model="ruleForm.sex">
                            <el-radio v-for='item in sexList' :key='item.value' :label='item.value'>
                                {{item.label}}
                            </el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="联系电话" prop="phone">
                        <el-input v-model="ruleForm.phone"></el-input>
                        
                    </el-form-item>
                    <el-form-item label="在沪地址"  prop="address">
                        <el-input v-model="ruleForm.address" ></el-input>
                    </el-form-item>
                     <el-form-item label="地址类别"  prop="addressType">
                        <el-select
                            v-model="ruleForm.addressType"
                            placeholder="请输入关键词">
                            <el-option
                                v-for="item in addressTypeList"
                                :key="item.label"
                                :label="item.label"
                                :value="item.label">
                            </el-option>
                        </el-select>
                    </el-form-item>
                     <el-form-item label="所属社区"  prop="community">
                        <el-input v-model="ruleForm.community" ></el-input>
                    </el-form-item>
                    <el-form-item label="身份证号码"  prop="idCard">
                        <el-input v-model="ruleForm.idCard" ></el-input>
                    </el-form-item>
                    <el-form-item label="是否发热"  prop="fever">
                        <el-radio-group v-model="ruleForm.fever">
                            <el-radio v-for="item in feverList" :key="item.value" :label="item.value">
                                {{item.label}}
                            </el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="返沪交通工具"  prop="wayOfReturn">
                        <el-select
                            v-model="ruleForm.wayOfReturn"
                            placeholder="请输入关键词">
                            <el-option
                                v-for="item in wayOfReturnList"
                                :key="item.label"
                                :label="item.label"
                                :value="item.label">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="返沪日期"  prop="dateOfReturn">
                        <!-- <el-input v-model="ruleForm.dateOfReturn" ></el-input> -->
                        <el-date-picker
                            v-model="ruleForm.dateOfReturn"
                            type="date"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            format="yyyy-MM-dd HH:mm:ss"
                        
                            placeholder="选择日期时间">
                        </el-date-picker>
                    </el-form-item>
                     <el-form-item label="是否有居家观察条件"  prop="condition">
                        <el-radio-group v-model="ruleForm.condition">
                            <el-radio v-for="item in conditionList" :key="item.value" :label="item.value">
                                {{item.label}}
                            </el-radio>
                        </el-radio-group>
                    </el-form-item>
                     <el-form-item label="居家观察起始日期"  prop="startTime">
                        <!-- <el-input v-model="ruleForm.startTime" ></el-input> -->
                        <el-date-picker
                            v-model="ruleForm.startTime"
                            type="date"
                            value-format="yyyy-MM-dd HH:mm:ss"
                            format="yyyy-MM-dd HH:mm:ss"
                           
                            placeholder="选择日期时间">
                        </el-date-picker>
                    </el-form-item>
                    <el-form-item label="居家观察联系人"  prop="responsiblePerson">
                        <!-- <el-input v-model="ruleForm.responsiblePerson"></el-input> -->
                        <el-select
                            v-model="responsiblePerson"
                            filterable
                            placeholder="请输入关键词"
                            :filter-method="remoteMethod"
                            :loading="loading">
                            <el-option
                                v-for="item in options"
                                @click.native="getReaponseId(item)"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                     <el-form-item label="抵沪出发地"  prop="provenance">
                        <el-input v-model="ruleForm.provenance"></el-input>
                    </el-form-item>
                    <el-form-item label="备注" prop="remarks" >
                        <el-input
                            type="textarea"
                            :autosize="{ minRows: 2, maxRows: 4}"
                            placeholder="请输入内容"
                            v-model="ruleForm.remarks">
                        </el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
                        <el-button @click="resetForm('ruleForm')">重置</el-button>
                    </el-form-item>
               </el-form>
            </div>
        </div>
    </div>
</template>

<script>
    import {get_user_userList,put_self} from '@/api/gen-api'
    export default {
        data() {
            return {
                dialogVisible: true,
                rules:{},
                ruleForm:{},
                condition:0,
                options:[],
                responsiblePerson:'',
                provenance:'',
                addressTypeList:[
                    {label:'出租',value:1},
                    {label:'自有房屋',value:2},
                    {label:'亲友住处',value:3},
                    {label:'酒店民宿',value:4},
                    {label:'其他',value:5},
                ],
                wayOfReturnList:[
                    {label:'自驾',value:1},
                    {label:'火车',value:2},
                    {label:'飞机',value:3},
                    {label:'客车',value:4},
                    {label:'轮船',value:5},
                    {label:'其他',value:6},
                ],
                sexList:[
                    {label:'男',value:1},
                    {label:'女',value:2}, 
                ],
                feverList:[
                    {label:'未发热',value:0},
                    {label:'发热',value:1}, 
                ],
                conditionList:[
                    {label:'否',value:0},
                    {label:'是',value:1}, 
                ],
                responsiblePerson:'',
                loading:false,
                options: [],//查询出来的结果
            }
        },
        props:['seltInfo'],
        mounted(){
            this.responsiblePerson=this.seltInfo.responsiblePerson,
            this.ruleForm = this.setrecord(this.seltInfo)
            console.log(this.ruleForm)
        },
        methods:{
            setrecord(res){
                res.sex = Number(res.sex)
                res.condition = Number(res.condition)
                const {id,name,sex,phone,address,addressType,community,idCard,fever,wayOfReturn,
                        dateOfReturn,condition,startTime,responsiblePerson,provenance,remarks} = res
                return {id,name,sex,phone,address,addressType,community,idCard,fever,wayOfReturn,
                        dateOfReturn,condition,startTime,responsiblePerson,provenance,remarks}
            },
            closeDialog(){
               this.$emit('closeDialog',!this.dialogVisible) 
            },
            submitForm(formName) {
                console.log(this.ruleForm)
                this.$refs[formName].validate((valid) => {
                if (valid) {
                    put_self(this.ruleForm).then(res=>{
                        if(res.status ===200){
                            this.$message({
                                type:'success',
                                message:res.data
                            })
                            this.closeDialog();
                        }else{
                            this.$message({
                                type:'warning',
                                message:'更新失败'
                            })
                        }
                    }).catch((e)=>{
                        if(e.response.status == '419'){
                            this.$message.error("请登录！");
                            this.$router.push('/login');
                        }else{
                        // this.$message.error("请求失败，服务器错误");
                            this.$message.error("请求失败"+e.response.data);
                        }
                    })
                } else {
                    return false;
                }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            remoteMethod(query){//查询负责人
                if (query !== '') {
                    this.loading = true;
                    get_user_userList({},{params:{name:query}}).then(res=>{
                        this.loading = false;
                        if(res.status ===200){
                            this.options = res.data
                        }else{
                            this.$message({
                                type:'warning',
                                message:'查询失败，请重试！'
                            })
                        }
                    }).catch((e)=>{
                        if(e.response.status == '419'){
                            this.$message.error("请登录！");
                            this.$router.push('/login');
                        }else{
                            // this.$message.error("请求失败，服务器错误");
                            this.$message.error("请求失败"+e.response.data);
                        }
                    })
                }
            },
            getReaponseId(item){//选中的某一项
               
                this.ruleForm.responsibleUserId = item.id
            },
        
        }
    }
</script>

<style scoped>
.warninglist{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    background: rgba(0,0,0,0.5);
}
.warninglistBox{
    padding:20px 0;
    width: 80%;
    height: 550px;
    margin: 3% auto;
    background: #F8F8F8;
    color:#666666;
    font-size:14px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px auto;
}
.listitle{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 98% 2%;
    grid-template-rows: 100%;
}
.listInfos{
    
    background:#F2F2F2;
    padding: 20px;
    overflow: auto;
}

</style>