<template>
    <div class="app-container">
        <el-form :inline="true" :model="formInline" class="demo-form-inline formbg">
        <el-form-item label="">
            <el-select v-model="formInline.seleVal" placeholder="请选择查询条件" @change="currentSel">
            <el-option label="设备型号" value="0"></el-option>
            <el-option label="隔离观察对象姓名" value="1"></el-option>
            <el-option label="联系电话" value="2"></el-option>
            <el-option label="负责人" value="3"></el-option>
            <el-option label="负责单位" value="4"></el-option>
            <el-option label="区域ID" value="5"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="">
            <el-input v-model="formInline.queryVal"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="onSubmit">查询</el-button>
        </el-form-item>
        </el-form>
        <el-table
            :data="tableData"
            stripe
            style="width: 100%">
            <el-table-column
            prop="id"
            label="ID"
            width="180">
            </el-table-column>
            <el-table-column
            prop="id"
            label="设备号"
            width="180">
            </el-table-column>
            <el-table-column
            prop="id"
            label="隔离观察对象"
            width="200">
            </el-table-column>
            <el-table-column
            prop="id"
            label="责任人"
            width="200">
            </el-table-column>
            <el-table-column
            prop="id"
            label="安装时间"
            width="200">
            </el-table-column>
            <el-table-column
            prop="id"
            label="绑定时间"
            width="200">
            </el-table-column>
            <el-table-column
            prop="id"
            label="已分区域"
            width="200">
            </el-table-column>
            <el-table-column
            prop="id"
            label="详情地址"
            width="200">
            </el-table-column>
            <el-table-column
            fixed="right"
            label="操作"
            width="200">
            <template slot-scope="scope">
                <el-button @click="handleClick(scope.row)" type="primary" size="small">分配区域</el-button>
                <el-button type="danger" size="small">定位</el-button>
            </template>
            </el-table-column>
        </el-table>
         <el-pagination
        class="fystyle"
        background
        layout="prev, pager, next"
        :total="1000">
        </el-pagination>
    </div>
</template>
<style scoped>
.formbg{background:#f2f2f2;padding-top: 20px;padding-left: 10px;}
.fystyle{margin-top: 20px;}
</style>
<script>
export default {
    data() {
    return {
      dialogVisible: false,
      tableData: [{
          id: '2016-05-02'
        }],
        formInline: {
          user: '',
          region: ''
      }
    }
  },
}
</script>