<template>
  <div class="app-container">
    <el-form :inline="true" label-position="right" label-width="90px" :model="formInline" class="demo-form-inline formbg">
      <el-form-item label="设备编号">
        <el-input v-model="formInline.deviceId"></el-input>
      </el-form-item>
      <el-form-item label="处置状态">
        <el-select v-model="formInline.status" placeholder="请选择">
          <el-option
            v-for="item in status_options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="类型">
        <el-select v-model="formInline.type" placeholder="请选择">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="日期">
        <div class="block">
          <el-date-picker
            v-model="formInline.value1"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd HH:mm" format="yyyy-MM-dd HH:mm">
          </el-date-picker>
        </div>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" icon="el-icon-search" @click="onSubmit">查询</el-button>
      </el-form-item>
      <!-- <el-form-item>
        <el-button type="primary" @click="queryAll">全部</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="jinchu" plain>进出报警</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="chaichu" plain>拆除报警</el-button>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="didian" plain>低电报警</el-button>
      </el-form-item> -->
    </el-form>
    <el-table :data="tableData.pageContent" stripe style="width: 100%">
      <el-table-column prop="deviceId" label="设备编号" width="180"></el-table-column>
      <el-table-column prop="type" 
        :formatter="modeBoolean"
        :show-overflow-tooltip="true"
        label="预警类型"
        width="200">
      </el-table-column>
      <el-table-column prop="createdTime" label="预警时间" width="180"></el-table-column>
      <el-table-column prop="isolateName" label="隔离观察对象姓名" width="200"></el-table-column>
      <el-table-column prop="isolateNumber" label="隔离观察对象电话" width="200"></el-table-column>
      <el-table-column prop="responsiblePerson" label="责任人" width="200"></el-table-column>
      <el-table-column prop="responsiblePhone" label="责任人电话" width="200"></el-table-column>
      <el-table-column prop="responsibleOrganization" label="责任人单位" width="200"></el-table-column>
      <el-table-column prop="bindingCount" label="关注人数" width="200"></el-table-column>
      <el-table-column prop="areaName" label="区域名称" width="200"></el-table-column>
      <el-table-column prop="areaDetail" label="详细地址" width="200"></el-table-column>
      <el-table-column prop="handleRemarks" label="处置结果" width="200"></el-table-column>
      <!-- <el-table-column prop="handleRemarks" label="处置结果" width="200"></el-table-column> -->
      <el-table-column prop="messageStatus"
      label="处置状态" 
      :formatter="cz_modeBoolean"
      :show-overflow-tooltip="true"
      width="200">
      </el-table-column>
<!-- 
      <el-table-column prop="areaId" label="区域ID" width="200"></el-table-column>
      <el-table-column prop="coordinate" label="坐标" width="200"></el-table-column>
      <el-table-column prop="model" label="设备编号" width="200"></el-table-column>
      <el-table-column prop="remarks" label="备注" width="200"></el-table-column> -->
      
      <!-- <el-table-column prop="status" 
        label="状态" 
        :formatter="formatStates"
        :show-overflow-tooltip="true">
        </el-table-column> -->
      <!-- <el-table-column fixed="right" label="操作" width="200">
        <template slot-scope="scope">
          <el-button @click="handleClick(scope.row)" type="success" size="small">绑定微信</el-button>
          <el-button type="primary" size="small">定位</el-button>
        </template>
      </el-table-column> -->
    </el-table>
    <el-pagination
          class="fystyle"
          @current-change="handleCurrentChange"
          :current-page="params.start"
          :page-size="params.count"
          background
          layout="total, prev, pager, next"
          prev-text="上一页"
          next-text="下一页"
          :total="totalCount">
        </el-pagination>

  </div>
</template>

<script>
import { get_alarm} from "@/api/gen-api";
// import axios from "axios";
export default {
  data() {
    return {
      formInline: {
          deviceId:'',//设备编号
          type:'',//类型
          value1:'',//日期
          status:'',//处置状态
      },
      value1:'',
      status_options:[{
          value: '0',
          label: '未处理'
        }, {
          value: '1',
          label: '已处理'
        }
      ],
      options: [{
          value: '1',
          label: '有人进出'
        }, {
          value: '3',
          label: '已拆卸'
        }, {
          value: '4',
          label: '低电压'
      }, {
          value: '5',
          label: '已安装'
      }, {
          value: '6',
          label: '关门'
      }, {
          value: '7',
          label: '开门'
      }],
      value: '',
      totalCount:0,
      params: {
        startTime: "", //开始时间
        endTime: "", //结束时间
        type: '', //开门，拆除，低电量
        deviceId: "", //设备编号
        areaId: "", //区域]
        start: 1, //默认显示页面
        count: 10, //每页的数据条数
        status:'',//处理状态
        
      },
      tableData: []
    };
  },
  methods: {
  //状态
  formatStates: function (row, column, cellValue) {
        var ret = ''  //你想在页面展示的值
        if (cellValue === 0) {
            ret = "未处理"  
        } 
        if (cellValue === 1) {
            ret = "已处理"  
        } 
        return ret;
    },
  //处置状态
  cz_modeBoolean:function(row, column, cellValue) {
        var ret = ''  //你想在页面展示的值
        if (cellValue === 0) {
            ret = "未处理"  
        } 
        if (cellValue === 1) {
            ret = "已处理"  
        } 
        return ret;
    },
  //类型
  modeBoolean:function(row, column, cellValue) {
        var ret = ''  //你想在页面展示的值
        if (cellValue === 1) {
            ret = "有人进出"  
        } 
        if (cellValue === 3) {
            ret = "已拆卸"  
        } 
        if (cellValue === 4) {
            ret = "低电压"  
        } 
        if (cellValue === 5) {
            ret = "已安装"  
        } 
        if (cellValue === 6 ){
            ret = "关门"  
        } 
        if (cellValue === 7) {
            ret = "开门"  
        } 
        return ret;
    },
  //低电报警
  // didian(){
  //   this.params.type = 4;
  //   this.getList();

  // },
  //拆除报警
  // chaichu(){
  //   this.params.type = 3;
  //   this.getList();
  // },
  //进出报警
  // jinchu(){
  //   this.params.type = 1;
  //   this.getList();
  // },
  //全部
  // queryAll(){
  //   this.params.type = '';
  //   this.getList();
  // },
  //条件查询
  onSubmit(){
    this.params.deviceId = this.formInline.deviceId;
    this.params.type = this.formInline.type;
    this.params.start = this.formInline.status;
    this.params.startTime = this.formInline.value1[0];
    this.params.endTime = this.formInline.value1[1];
    this.params.status = this.formInline.status;
    this.getList();
  },
  //点击第几页
  handleCurrentChange: function(currentPage) {
      this.params.start = currentPage;
      this.getList();
  },
    //获取分页列表
    getList() {
      // console.log("startTime="+this.params.startTime);
      // console.log("endTime="+this.params.endTime);
      // console.log("type="+this.params.type);
      // console.log("deviceId="+this.params.deviceId);
      // console.log("areaId="+this.params.areaId);
      // console.log("start="+this.params.start);
      // console.log("count="+this.params.count);
      // console.log(this.value1[0]);
      get_alarm({},{
        params: {
        startTime: this.params.startTime, //开始时间
        endTime: this.params.endTime, //结束时间
        type: this.params.type, //开门，拆除，低电量
        status: this.params.status, //处置状态
        deviceId: this.params.deviceId, //设备编号
        // areaId: this.params.areaId, //区域
        start: this.params.start, //默认显示页面
        count: this.params.count, //每页的数据条数
        
        
      },
      }).then(res => {
        console.log(res.data.pageContent);
        this.tableData = res.data
        this.params.start = res.data.pageNum
        this.params.count = res.data.pageSize
        this.totalCount = res.data.totalCount
        //清空查询表单
        this.formInline.value1 = '';//日期
        this.formInline.type = '';//类型
        this.formInline.deviceId = '';//设备编号
        this.formInline.status = '';//处置状态
      }).catch(e => {
            if(e.response.status == '419'){
              this.$message.error("请登录！");
              this.$router.push('/login');
            }else{
              // this.$message.error("请求失败，服务器错误");
              this.$message.error("请求失败"+e.response.data);
            }
            
      })
    }
  },
  created() {
    this.$nextTick(() => {
      this.getList();
    });
  }
};
</script>
<style scoped>
.formbg {
  background: #f2f2f2;
  padding-top: 20px;
  padding-left: 10px;
}
.fystyle {
  margin-top: 20px;
}
</style>
<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
<style>
.el-input--suffix .el-input__inner {
    padding-right: 15px !important;
}
</style>
