<template>
    <div class="app-container">
       <el-form :inline="true" label-position="left" label-width="110px" :model="formInline" class="demo-form-inline formbg">
        <!-- <el-form-item label="">
            <el-select v-model="formInline.seleVal" placeholder="请选择查询条件" @change="currentSel"> -->
                <!-- <el-option label="隔离观察对象" value="0"></el-option> -->
                <!-- <el-option label="地址类型" value="1"></el-option> -->
                <!-- <el-option label="社区" value="2"></el-option> -->
                <!-- <el-option label="区域Id" value="3"></el-option> -->
                <!-- <el-option label="是否发热" value="4"></el-option> -->
                <!-- <el-option label="责任人姓名" value="5"></el-option> -->
                <!-- <el-option label="返沪出发地" value="6"></el-option> -->
                <!-- <el-option label="是否结束隔离" value="7"></el-option> -->
            <!-- </el-select>
        </el-form-item> -->
        <el-form-item label="隔离观察对象">
            <el-input  v-model="formInline.queryVal"></el-input>
        </el-form-item>
        <el-form-item label="所属居委">
            <el-input  v-model="formInline.community"></el-input>
        </el-form-item>
        <el-form-item label="责任人姓名">
            <el-input  v-model="formInline.responsible"></el-input>
        </el-form-item>
        <el-form-item label="是否发热">
            <el-select
                v-model="formInline.fever"
                placeholder="请输入关键词">
                <el-option
                    v-for="item in feverList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="地址类型">
            <el-select
                v-model="formInline.addType"
                placeholder="请输入关键词">
                <el-option
                    v-for="item in addressTypeList"
                    :key="item.label"
                    :label="item.label"
                    :value="item.label">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="是否结束隔离">
            <el-select
                v-model="formInline.overgl"
                placeholder="请输入关键词">
                <el-option
                    v-for="item in conditionList"
                    :key="item.value"
                    :label="item.label"
                    :value="item.value">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="返沪出发地">
            <el-input  v-model="formInline.provenance"></el-input>
        </el-form-item>
        <el-form-item label="日期">
        <div class="block">
          <el-date-picker
            v-model="formInline.value1"
            type="daterange"
            range-separator="至"
            start-placeholder="开始日期"
            end-placeholder="结束日期"
            value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss">
          </el-date-picker>
        </div>
      </el-form-item>
        <el-form-item>
            <el-button type="primary" icon="el-icon-search" @click="onSubmit">查询</el-button>
        </el-form-item>
        </el-form> 
         <el-table
                :data="tableData"
                stripe
                style="width: 100%">
            <el-table-column
                prop="name"
                label="姓名"
                width="180">
            </el-table-column>
            <el-table-column
                prop="sex"
                label="性别"
                width="180">
                <template slot-scope="scope">
                    <div>{{scope.row.sex==='1'?'男':'女'}}</div>
                </template>
            </el-table-column>
            <el-table-column
                prop="phone"
                label="电话"
                width="200">
            </el-table-column>
            <el-table-column
                prop="idCard"
                label="身份证号"
                width="200">
            </el-table-column>
            <el-table-column
                prop="address"
                label="在沪地址"
                width="200">
            </el-table-column>
            <el-table-column
                prop="addressType"
                label="地址类别"
                width="200">
            </el-table-column>
            <el-table-column
                prop="community"
                label="所属社区"
                width="200">
            </el-table-column>
            <el-table-column
                prop="areaName"
                label="所属居委"
                width="200">
            </el-table-column>
            <el-table-column
                prop="households"
                label="户数"
                width="200">
            </el-table-column>
            <el-table-column
                prop="peopleCounts"
                label="人数"
                width="200">
            </el-table-column>
            <el-table-column
                prop="fever"
                label="是否发热"
                width="200">
                 <template slot-scope="scope">
                    <div>{{scope.row.fever===0?'未发热':'发热'}}</div>
                </template>
            </el-table-column>
            <el-table-column
                prop="provenance"
                label="返沪出发地"
                width="200">
            </el-table-column>
            <el-table-column
                prop="wayOfReturn"
                label="返沪交通工具"
                width="200">
            </el-table-column>
            <el-table-column
                prop="condition"
                label="是否有居家观察条件"
                width="200">
                <template slot-scope="scope">
                    <div>{{scope.row.condition===0?'没有':'有'}}</div>
                </template>
            </el-table-column>
            <el-table-column
                prop="startTime"
                label="居家观察起始日期"
                width="200">
            </el-table-column>
            <el-table-column
                prop="responsiblePerson"
                label="居家观察联系人"
                width="200">
            </el-table-column>
        
            <el-table-column
                fixed="right"
                label="操作"
                width="150">
            <template slot-scope="scope">
                <el-button @click="handleClick(scope.row)" type="primary" size="small">编辑</el-button>
            </template>
            </el-table-column>
        </el-table> 
        <el-pagination
            class="fystyle"
            background
            @current-change="handleCurrentChange"
            :current-page.sync="pagex.pageNum"
            :page-size="pagex.pageSize"
            layout="total, prev, pager, next, jumper"
            :total="totalCount">
        </el-pagination>
        <seltEdit v-if="editShow" :seltInfo='seltInfo' @closeDialog='closeditDialog'></seltEdit> 
    </div>
</template>

<script>
import {post_self_pageNum_pageSize} from "@/api/gen-api";
import seltEdit from '@/components/selfEdit'
import axios from 'axios';
export default {
    components:{
        seltEdit
    },
    data() {
        return {
            editShow: false,
            seltInfo:{},
            tableData: [],
            pagex:{pageNum: 1,pageSize: 10},
            totalCount:0,
            term:{},
            formInline:{
                queryVal:'',//隔离观察对象
                community:'',//所属居委
                responsible:'',//责任人
                overgl:'',//是否结束隔离
                fever:'',//是否发热
                addType:'',//地址类型
                provenance:'',//返沪出发地
                value1:'',//时间范围

            },
            showSelect:0,
            addressTypeList:[
                {label:'出租',value:1},
                {label:'自有房屋',value:2},
                {label:'亲友住处',value:3},
                {label:'酒店民宿',value:4},
                {label:'其他',value:5},
            ],
            conditionList:[
                {label:'未结束',value:0},
                {label:'结束',value:1}, 
                {label:'全部',value:''},
            ],
            feverList:[
                {label:'否',value:0},
                {label:'是',value:1}, 
                {label:'全部',value:''},
            ],
        }
    },
    created(){
        this.$nextTick(()=>{
            this.getSelfList()
        })
    },
    methods:{
        axiosGetlist(params){
            axios.post(`/adminapi/self/${this.pagex.pageNum}/${this.pagex.pageSize}`,params).then(res=>{   
                if(res.status ===200){
                    this.totalCount = res.data.totalCount;
                    this.tableData = res.data.pageContent;
                    //清空查询表单
                    this.formInline.queryVal='';//隔离观察对象
                    this.formInline.community='';//社区
                    this.formInline.responsible='';//责任人
                    this.formInline.overgl='';//是否结束隔离
                    this.formInline.fever='';//是否发热
                    this.formInline.addType='';//地址类型
                    this.formInline.provenance = '';//返沪出发地
                    this.formInline.value1 = '';//时间范围

                }else{
                      this.$message.error("请求失败");
                }
            }).catch(e=>{
                if(e.response.status == '419'){
                    this.$message.error("请登录！");
                    this.$router.push('/login');
                }else{
                    // this.$message.error("请求失败，服务器错误");
                    this.$message.error("请求失败"+e.response.data);
                }
            })
        },
        getSelfList() {
            let params = this.term
            this.axiosGetlist(params)
        },
       
        handleClick(data){//点击编辑
            if(localStorage.getItem('permissions').indexOf('self-quarantine:update') === -1){
                this.$message({
                    type:'warning',
                    message:'您没有此权限，请联系管理员'
                })
            }else{
                this.editShow = true
                this.seltInfo = data
            }
           
        },
        onSubmit(){//查询
            this.term ={}
            this.pagex.pageNum =1
            
            this.term.name=this.formInline.queryVal;
            this.term.addressType=this.formInline.addType;
            this.term.community=this.formInline.community;
    //     this.term.areaId=this.formInline.queryVal;
            this.term.fever=this.formInline.fever;
            this.term.responsiblePerson=this.formInline.responsible;
    //     this.term.provenance=this.formInline.queryVal;
            this.term.status=this.formInline.overgl;
            this.term.provenance = this.formInline.provenance;
            this.term.createTime = this.formInline.value1[0];
            this.term.endTime = this.formInline.value1[1];
            this.getSelfList()
        },
        // currentSel(res){//查询条件
        //     this.formInline.queryVal = ''
        //    this.showSelect =res
        // },
        //点击第几页
        handleCurrentChange: function(currentPage) {
            this.pagex.pageNum = currentPage;
            this.getSelfList();
        },
        closeditDialog(data){
            this.editShow = data
            this.getSelfList();
        }
    }
}
</script>
<style scoped>
.formbg{background:#f2f2f2;padding-top: 20px;padding-left: 10px;}
.fystyle{margin-top: 30px;}
</style>
<style>
.el-input--suffix .el-input__inner {
    padding-right: 15px !important;
}
</style>