<template>
    <div>
         <el-pagination
            @current-change="handleCurrentChange"
            :current-page.sync="page.pageNum"
            :page-size="page.pageSize"
            layout="total, prev, pager, next, jumper"
            :total="totalCount">
        </el-pagination>
    </div>
</template>

<script>
    import {post_self_pageNum_pageSize} from "@/api/gen-api";
    import axios from 'axios'
    export default {
        data() {
            return {
                page: {
                    pageNum:1,
                    pageSize:3
                },
                params:{name:''},
                totalCount:0
            }
        },
        created(){
            this.getList()
        },
        methods:{
            getList(){
                console.log(this.page);
                axios.post(`/adminapi/self/${this.page.pageNum}/${this.page.pageSize}`,this.params).then(res=>{
                    console.log(res)
                    this.totalCount = res.data.totalCount
                })
                // post_self_pageNum_pageSize(this.page).then(res=>{
                //     console.log(res);
                //     this.totalCount = res.data.totalCount
                // })
            },
            handleCurrentChange(cur){
                this.page.pageNum =cur;
                this.getList();
            }
        }
    }
</script>

<style lang="scss" scoped>

</style>