<template>
  <div class="app-container">
    <!--新增弹出层开始-->
    <el-dialog
      title="添加区域"
      :visible.sync="dialogVisible"
      width="40%"
      :before-close="handleClose">

        <el-form ref="form" :model="form" label-width="120px">
          <el-form-item label="选中的区域">
            <el-input v-model="form.selectname" disabled="true"></el-input>
          </el-form-item>
          <el-form-item label="添加子区域名称">
            <el-input v-model="form.name"></el-input>
          </el-form-item>
        </el-form>

      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="saveNode">保存</el-button>
      </span>
    </el-dialog>
    <el-table
    :data="tableData"
    stripe
    style="width: 100%">
    <el-table-column
      prop="serialNo"
      label="区域编号"
      width="180">
    </el-table-column>
    <el-table-column
      prop="areaName"
      label="区域名称"
      width="180">
    </el-table-column>
    <el-table-column
      prop="rank"
      label="层级"
      width="200">
    </el-table-column>
    <el-table-column
      label="区域子列表">
      <template>  
          <el-tree 
          :data="tableData"
          :props="defaultProps"
          :default-expand-all= "false"
          :expand-on-click-node="false"
          :render-content="renderContent"></el-tree>
          <!-- <span v-for="(item,index) in scope.row.children" :key="index" class="scopeItem">{{item.areaName}},</span> -->
      </template>

    </el-table-column>
    <!-- <el-table-column
      fixed="right"
      label="操作"
      width="200">
      <template slot-scope="scope">
        <el-button @click="handleClick(scope.row)" type="primary" size="small">编辑</el-button>
        <el-button type="danger" size="small">删除</el-button>
      </template>
    </el-table-column> -->
  </el-table>
  <!-- <el-pagination
  class="fystyle"
  background
  layout="prev, pager, next"
  :total="1000">
 </el-pagination> -->

  </div>
</template>

<script>
import { get_area } from "@/api/gen-api";
import {areaAdd} from "@/api/regional";
export default {

  data() {
    return {
      defaultProps: {
          children: 'children',
          label: 'areaName'
      },
      dialogVisible: false,
      form: {
        selectname:'',//选中的区域
        serialNo:'',//父节点的区域id  
        name: '',//添加区域的名称
      },
      tableData: [],
    }
  },
  methods:{
     saveNode(){
       areaAdd({
         serialNo: this.form.serialNo,
         name: this.form.name
       }).then(res => {
          this.form.selectname = '';
          this.form.serialNo = '';
          this.form.name = '';
          this.dialogVisible = false;
          this.$message({
            type: 'success',
            message: '添加成功!'
          });
          this.getArea();
      }).catch(e => {
          if(e.response.status == '419'){
            this.$message.error("请登录！");
            this.$router.push('/login');
          }else{
            // this.$message.error("请求失败，服务器错误");
            this.$message.error("请求失败"+e.response.data); 
          }
            
      })
     },
     addNode(data){
       this.dialogVisible = true;
       this.form.selectname = data.areaName;
       this.form.serialNo = data.serialNo;
     },
     renderContent(h, { node, data, store }) {
       console.log(data.rank);
       if(data.rank === 4){
         return (
      <span class="custom-tree-node">
        <span>{node.label}</span>
        <span>
          <el-button style="margin-left:100px;" icon="el-icon-plus" size="mini" type="success" on-click={()=>this.addNode(data)}></el-button>
        </span>
      </span>);
       }else{
         return (
        <span class="custom-tree-node">
          <span>{node.label}</span>
        </span>);
       }
      // return (
      // <span class="custom-tree-node">
      //   <span>{node.label}</span>
      //   <span>
      //     <el-button size="mini" type="text" on-click={ () => this.append(data) }>Append</el-button>
      //   </span>
      // </span>);
    },
    getArea(){
      get_area().then(res => {
          console.log(res.data);
          this.tableData = res.data;
      }).catch(e => {
          if(e.response.status == '419'){
            this.$message.error("请登录！");
            this.$router.push('/login');
          }else{
            // this.$message.error("请求失败，服务器错误");
            this.$message.error("请求失败"+e.response.data);
          }
            
      })
    }
  },
  created() {
        this.$nextTick(()=>{
            this.getArea();
        })
  }
}
</script>
<style scoped>
.formbg{background:#f2f2f2;padding-top: 20px;padding-left: 10px;}
.fystyle{margin-top: 20px;}
</style>
<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
<style>
.el-tree-node__content{height: 40px !important;}
</style>
