<template>   
    <div class="dialogEdit">
        <div class="dialogContent">
            <div class="header">
                <span>{{editTitle.name}}</span>
                <div style="text-align:right;padding-right:20px">
                     <i class="el-icon-close" style="cursor:pointer" @click="closeEdit"></i>
                </div>
            </div>
            <div class="content">
                <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="组织机构" prop="serialNo" required>
                        <el-select
                            v-model="ruleForm.serialNo"
                            filterable
                            remote
                            clearable
                            reserve-keyword
                            placeholder="请输入关键词"
                            :remote-method="remoteMethods"
                            :loading="loadings">
                            <el-option
                                v-for="item in options"
                                :key="item.serialNo"
                                :label="item.areaName"
                                :value="item.serialNo">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="账号" prop="username" required>
                        <el-input type="text" :disabled="editTitle.type==='edit'" v-model="ruleForm.username" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item v-if="editTitle.type==='add'" label="密码" prop="password" required>
                        <el-input type="password" v-model="ruleForm.password" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item v-if="editTitle.type==='add'" label="确认密码" prop="checkPassword" required>
                        <el-input type="password" v-model="ruleForm.checkPassword" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="角色" prop="roleId"  required>
                        <el-select v-model="ruleForm.roleId" clearable placeholder="请选择">
                            <el-option
                            v-for="item in roleList"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="备注">
                        <el-input type="textarea" v-model="ruleForm.remark"></el-input>
                    </el-form-item>
                </el-form>
            </div>
            <div class="footer">
                <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
                <el-button @click="resetForm('ruleForm')">取消</el-button>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapActions,mapState} from 'vuex';
    export default {
        props:['editTitle','single'],
        computed:{
            ...mapState({
                roleList:state=>state.account.roleList //获取角色列表
            })
        },
        data(){
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPassword !== '') {
                        this.$refs.ruleForm.validateField('checkPassword');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.password) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return{
                options:[{areaName:'111',serialNo:'310115'}],//查询列表
                loadings:false,// 查询时候的加载
                value: '',
                ruleForm:{},
                rules:{
                    serialNo:[
                        { required: true, message: '请选择组织机构', trigger: 'blur' },
                    ],
                    username:[
                        { required: true, message: '请输入用户名', trigger: 'blur' },
                        {pattern:/^[a-zA-Z][a-zA-Z0-9]{4,19}$/, message: '用户名必须字母开头，并且5-20位',tiger:'blur'},
                        // {min:5,max:20, message: '用户名请输入',tiger:'blur'}   
                    ],
                    password: [
                        { validator: validatePass, trigger: 'blur' },
                        { required: true, message: '请输入密码', trigger: 'blur' },
                        { pattern:/^[a-zA-Z0-9]{6,16}$/, message: '密码不能有特殊字符，并且6-16位',tiger:'blur'}
                    ],
                    checkPassword: [
                        { validator: validatePass2, trigger: 'blur' },
                        { required: true, message: '请确认密码', trigger: 'blur' },
                    ],
                    roleId: [
                        { required: true, message: '请选择角色', trigger: 'blur' },
                    ]
                },
            }
        },
        async created(){
            await this.SEARCH_AREA().then(res=>{
                this.options= res
                console.log(this.options)
            })
            if(this.editTitle.type==='edit'){
                await this.SINGLE_ACCOUNT({id:this.single}).then(res=>{
                    const {id,serialNo,roleId,remark='',username}= res
                    this.ruleForm = {id,serialNo,roleId,remark,username}
                })
            }
            
        },
        methods:{
            ...mapActions([
                'ADD_ACCOUNT','SEARCH_AREA','SINGLE_ACCOUNT','SEARCH_AREA','UPDATE_ACCOUNT'
            ]),
            submitForm(ruleForm){//提交
                if(this.editTitle.type==='add'){
                    this.$refs[ruleForm].validate((val)=>{
                        if(val){
                            this.ADD_ACCOUNT(this.ruleForm).then(res=>{
                                console.log(res)
                                if(res.indexOf('成功')!== -1){
                                    this.$message({
                                        type:'success',
                                        message:res
                                    })
                                    this.closeEdit()
                                }
                            })
                        }else{
                        //    this.$message({
                        //        type:warning,
                        //        message:"请正确填写参数"
                        //    })
                            return false;
                        }
                    })
                    

                }else{
                    
                    const {id,serialNo,roleId,remark} =this.ruleForm
                    this.$refs[ruleForm].validate((val)=>{
                        if(val){
                            this.UPDATE_ACCOUNT({id,serialNo,roleId,remark}).then(res=>{
                                if(res.indexOf('成功')!== -1){
                                    this.$message({
                                        type:'success',
                                        message:res
                                    })
                                    this.closeEdit()
                                }else{
                                    this.$message({
                                        type:'warning',
                                        message:res
                                    })
                                }
                            })
                        }else{
                            return false
                        }
                    })
                }
                
            },
            resetForm(){//重置
                this.closeEdit()
            },
            closeEdit(){
                this.$emit('closeedit',false)
            },
            remoteMethods(query) {//搜索查询
                if (query !== '') {
                    this.loading = true;
                    this.SEARCH_AREA({name:query}).then(res=>{
                        this.loading = false;
                        this.options= res
                    })
                } else {
                    this.options = [];
                }
            }
        }
        
    }
</script>

<style lang="scss" scoped>
.dialogEdit{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 100;
}
.dialogContent{
    width: 50vw;
    height: 80vh;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -40vh;
    margin-left: -25vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 40px auto 50px;
}
.header{
    font-size:18px;
    padding-left:20px;
    line-height: 40px;
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 100%;
}
.content{
    width: 600px;
    margin: 50px 100px;
    padding:10px 50px;
}
.footer{
    margin: 0 auto;
}
</style>
<style lang="scss">
.el-select{
    width: 100% !important;
}    
</style>