<template>
    <div class="warninglist">
        <div class="warninglistBox">
            <div class="listitle">
                <span>编辑</span>
                <i class="el-icon-close" style="cursor:pointer" @click='closeDialog'></i>
            </div>
            <div class="listInfos">
               <el-form style="width:500px" :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                    <el-form-item label="隔离观察对象" prop="name">
                        <el-input v-model="ruleForm.isolateName"></el-input>
                    </el-form-item>
                    <el-form-item label="观察对象电话" prop="isolateNumber">
                        <el-input v-model="ruleForm.isolateNumber"></el-input>
                    </el-form-item>
                    <el-form-item label="责任人姓名" prop="responsiblePerson">
                        <!-- <el-input v-model="ruleForm.responsibleUserId"></el-input> -->
                        <el-select
                            v-model="responsiblePerson"
                            filterable
                            placeholder="请输入关键词"
                            :filter-method="remoteMethod"
                            :loading="loading">
                            <el-option
                                v-for="item in options"
                                @click.native="getReaponseId(item)"
                                :key="item.id"
                                :label="item.name"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="责任人单位"  prop="responsibleOrganization">
                        <el-input v-model="ruleForm.responsibleOrganization" disabled></el-input>
                    </el-form-item>
                    <el-form-item label="安装位置" prop="areaDetail" >
                        <el-input
                            disabled
                            type="textarea"
                            :autosize="{ minRows: 2, maxRows: 4}"
                            placeholder="请输入内容"
                            v-model="ruleForm.areaDetail">
                        </el-input>
                    </el-form-item>
                    <el-form-item label="经纬度" prop="coordinate">
                        <el-input v-model="ruleForm.coordinate" disabled></el-input>
                    </el-form-item>
               </el-form>
            </div>
            <div class="warnfooter">
                <el-button type="primary" size="mini" @click="editDevice('ruleForm')">确认 </el-button>
                <el-button size="mini" @click='closeDialog'>取消 </el-button>
            </div>
        </div>
    </div>
</template>

<script>
    import {get_user_userList,put_device} from '@/api/gen-api'
    export default {
        data() {
            return {
                dialogVisible: true,
                ruleForm:{
                    isolateName:'',
                    isolateNumber:'',
                    responsibleUserId:'',
                    responsibleOrganization:'',
                    areaDetail:'',
                    coordinate:''
                },
                responsiblePerson:'',//负责人姓名
                rules:{

                },
                options: [],//查询出来的结果
                loading: false, 
            }
        },
        props:['deviceinfo'],
        mounted(){
            this.responsiblePerson=this.deviceinfo.responsiblePerson,
            this.ruleForm={
                isolateName:this.deviceinfo.isolateName,
                isolateNumber:this.deviceinfo.isolateNumber,
               
                responsibleOrganization:this.deviceinfo.responsibleOrganization,
                areaDetail:this.deviceinfo.areaDetail,
                coordinate:this.deviceinfo.coordinate
            }

        },
        methods:{
            closeDialog(){
               this.$emit('closeDialog',!this.dialogVisible) 
            },
            remoteMethod(query){//查询负责人
                if (query !== '') {
                    this.loading = true;
                    get_user_userList({},{params:{name:query}}).then(res=>{
                        this.loading = false;
                        if(res.status ===200){
                            this.options = res.data
                        }else{
                            this.$message({
                                type:'warning',
                                message:'查询失败，请重试！'
                            })
                        }
                    }).catch(e=>{
                         if(e.response.status == '419'){
                            this.$message.error("请登录！");
                            this.$router.push('/login');
                        }else{
                            // this.$message.error("请求失败，服务器错误");
                            this.$message.error("请求失败"+e.response.data);
                        }
                    })
                }
            },
            getReaponseId(item){//选中的某一项
                console.log(item)
                this.ruleForm.responsibleUserId = item.id
                this.ruleForm.responsibleOrganization = item.organization
            },
            editDevice(formName){
                console.log(this.ruleForm)
                console.log(this.deviceinfo)
                  this.$refs[formName].validate((valid) => {
                      console.log(valid)
                    if (valid) {
                        if(this.responsiblePerson === this.deviceinfo.responsiblePerson){
                                let params ={id:this.deviceinfo.id,
                                            isolateName:this.ruleForm.isolateName,
                                            isolateNumber:this.ruleForm.isolateNumber}
                                this.editTrue(params)
                        }else{
                             let params ={id:this.deviceinfo.id,
                                            isolateName:this.ruleForm.isolateName,
                                            isolateNumber:this.ruleForm.isolateNumber,
                                            responsibleUserId:this.ruleForm.responsibleUserId,
                                            responsibleOrganization:this.ruleForm.responsibleOrganization}
                                this.editTrue(params)
                        }
                    }
                  })
            },
            editTrue(params){
                put_device(params).then(res=>{
                    if(res.status== 200){
                        this.$message({
                            type:'success',
                            message:'修改成功'
                        })
                        this.closeDialog()
                        
                    }else{
                        this.$message.error("请求失败");
                    }
                }).catch(e => {
                    console.log(e)
                    if(e.response.status == '419'){
                        this.$message.error("请登录！");
                        this.$router.push('/login');
                    }else{
                        // this.$message.error("请求失败，服务器错误");
                        this.$message.error("请求失败"+e.response.data);
                    }
                        
                })
            }
        }
    }
</script>

<style scoped>
.warninglist{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2000;
    background: rgba(0,0,0,0.5);
}
.warninglistBox{
    padding:20px 0;
    width: 80%;
    height: 550px;
    margin: 3% auto;
    background: #F8F8F8;
    color:#666666;
    font-size:14px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 30px auto 40px;
}
.listitle{
    padding: 0 20px;
    display: grid;
    grid-template-columns: 98% 2%;
    grid-template-rows: 100%;
}
.listInfos{
    
    background:#F2F2F2;
    padding: 20px;
    overflow: auto;
}
.warnfooter{
    text-align: right;
    padding-top: 10px;
    padding-right: 40px
}
</style>