<template>
    <div class="addRole">
         <el-dialog :title='title' :visible.sync="dialogFormVisible" class="edit_dialog">
            <el-form :model="form">
                <el-form-item label="*角色名称" :label-width="formLabelWidth">
                    <el-input v-model="form.name" autocomplete="off" style="width:70%"></el-input>
                </el-form-item>
                
                <el-form-item label="活动区域" :label-width="formLabelWidth">
                    <el-select v-model="form.region" placeholder="请选择活动区域">
                        <el-option label="区域一" value="shanghai"></el-option>
                        <el-option label="区域二" value="beijing"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="cancel(1)" >取 消</el-button>
                <el-button type="primary" @click="confirm(1)">确 定</el-button>
            </div>
        </el-dialog>
    </div>
</template>

<script>
export default {
    data(){
        return{
            dialogFormVisible: false,
            formLabelWidth: '120px',
            title:'',
            form: {
                name: '',
                region: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
        }
    },
    methods:{
            cancel(num){
                console.log(num);
                this.dialogFormVisible = false;
                console.log(this.dialogFormVisible);
            },

            confirm(){
                this.dialogFormVisible = false;
                console.log(this.dialogFormVisible);
            }
    }
}
</script>

<style scoped>

</style>