<template>
    <div class = "roleManage">
        <el-form ref="form" :model="form" class="roleAdd"  >
            <el-form-item>
                <el-button type="primary" icon="el-icon-plus" @click="editClick('add')">添加</el-button>
            </el-form-item>
        </el-form>
        <el-table
            :data="tableData"
            style="width:100%"
            stripe
            :header-cell-class-name='rowHeaderSty'
            highlight-current-row
            >
            <el-table-column
                label = "编号"
                type="index"
                align = "center"
                width="240px"
                >
            </el-table-column>

             <el-table-column
                label = "角色名"
                prop = 'name'
                align = 'center'>
            </el-table-column>

             <el-table-column
                label = "权限"
                prop = 'authority'
                align = 'left'
                width="315">
                <template slot-scope="scope">
                    <span style="padding:3px;background:#67C23A;color:white;margin-right:3px;font-size:10px" v-for="item in scope.row.groupNameList" :key="item">{{item}}</span>
                </template>
            </el-table-column>

             <el-table-column
                label = "操作"
                prop = 'meausre'
                align = 'center'>
                    <template slot-scope="scope">
                        <i class="el-icon-edit-outline" style="cursor:pointer;color:#000;font-size:20px" @click="editClick('edit',scope.row)"></i>
                        <i class="el-icon-delete" style="cursor:pointer;color:rgb(216,30,6);font-size:20px" @click="deleteClick(scope.row)"></i>
                    </template>
            </el-table-column>
            </el-table>
            <el-pagination
                class="fystyle"
                @current-change="handleCurrentChange"
                :current-page="params.pageNum"
                :page-size="params.pageSize"
                background
                layout="total, prev, pager, next"
                prev-text="上一页"
                next-text="下一页"
                :total="totalCount">
            </el-pagination>
            
        <el-dialog :title='title' :visible.sync="dialogFormVisible" class="edit_dialog" center>
            <el-form :model="form">
                <el-form-item label="*角色名称:" :label-width="formLabelWidth">
                    <el-input v-model="form.name" autocomplete="off" style="width:70%"></el-input>
                </el-form-item>
                <el-form-item label="权限选择:" :label-width="formLabelWidth">
                    <el-table
                        :data="tableData_dialog"
                        style="width:70%"
                        stripe
                        border
                        :header-cell-class-name='rowHeaderSty_dialog'
                        class="table_dialog"
                        >
                    <el-table-column
                        label = "菜单"
                        prop = "rootNode"
                        align = "center"
                        width="120px"
                        
                        >
                    </el-table-column>

                    <el-table-column
                        label = "权限"
                        prop = 'nameList'
                        align = 'left'>
                        <template slot-scope="scope">

                             <el-checkbox v-for="role in scope.row.nameList" :label="role.name" :key="role.name" 
                              @change='handleCheckedCitiesChange(scope.row,role.name)' v-model="role.check">{{role.name}}</el-checkbox>
                            
                        </template>
                        
                    </el-table-column>
                </el-table>
                </el-form-item>
                
                <el-form-item label="备注:" :label-width="formLabelWidth" style = "margin-top:30px">
                    <el-input v-model="form.remark" autocomplete="off" type = "textarea" style="width:70%"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer" >
                <el-button @click="cancel(1)" >取 消</el-button>
                <el-button type="primary" @click="confirm(1)">确 定</el-button>
            </div>
        </el-dialog> 

        <el-dialog
            title="提示"
            :visible.sync="centerDialogVisible"
            width="20%"
            center> 
            <div class="warn_content"><span >确定删除该角色?</span></div> 
            <span slot="footer" class="dialog-footer">
                <el-button @click="centerDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="confirm_delete()">确 定</el-button>
            </span>
        </el-dialog>
    </div>
</template>

<script>
    import addrole from './addRole'
    import {mapActions} from 'vuex'
    const cityOptions = ['上海', '北京', '广州', '深圳'];
    export default {
        components:{
            addrole
        },
        data(){
            return{
                addOrUpdate:"",    //用于标识是点击了编辑还是添加按钮
                params:{
                    pageNo:1,
                    pageSize:10
                },
                editShow:true,
                dialogFormVisible: false,   //编辑角色dialog是否展示
                formLabelWidth: '120px',
                form: {
                    id:1,
                    name: '',
                    permissions:"",
                    remark: '',
                    // date1: '',
                    // date2: '',
                    // delivery: false,
                    // type: [],
                    
                    
                },
                 tableData_dialog:[{"group":1,"nameList":[{"check":false,"id":20,"name":"查看"}],"rootNode":"数据大屏"},
                                    {"group":2,"nameList":[{"check":false,"id":21,"name":"查看"},{"check":false,"id":22,"name":"编辑"}],"rootNode":"自我隔离"},
                                    {"group":3,"nameList":[{"check":false,"id":23,"name":"查看"}],"rootNode":"区域管理"},
                                    {"group":4,"nameList":[{"check":false,"id":24,"name":"查看"}],"rootNode":"修改密码"},
                                    {"group":5,"nameList":[{"check":false,"id":25,"name":"查看"},{"check":false,"id":26,"name":"删除"},
                                    {"check":false,"id":27,"name":"编辑"},{"check":false,"id":28,"name":"添加"}],"rootNode":"角色管理"},
                                    {"group":6,"nameList":[{"check":false,"id":29,"name":"查看"},{"check":false,"id":30,"name":"删除"},
                                    {"check":false,"id":31,"name":"编辑"},{"check":false,"id":32,"name":"添加"}],"rootNode":"账号管理"},
                                    {"group":7,"nameList":[{"check":false,"id":33,"name":"查看"}],"rootNode":"地图模式"},
                                    {"group":8,"nameList":[{"check":false,"id":34,"name":"查看"}],"rootNode":"数据统计"},
                                    {"group":9,"nameList":[{"check":false,"id":35,"name":"查看"}],"rootNode":"报警记录"},
                                    {"group":10,"nameList":[{"check":false,"id":36,"name":"查看"},
                                    {"check":false,"id":37,"name":"删除关注"},{"check":false,"id":38,"name":"编辑"}],"rootNode":"设备列表"}],
                title:'',
                totalCount:0,
                tableData:[
                    {id:"03",
                     name:"隔离设备",
                     groupNameList:[]
                    },
                
                    ],
                

                    checkedCities: ['上海', '北京'],
                    cities: cityOptions,

                    centerDialogVisible: false   //删除dialog是否显示
            }
        },

        created(){
            this.getRoleList();
        },

        methods:{
            ...mapActions([
                'ROLE_LIST',
                'ROLE_UPDATE',
                'ROLE_ADD',
                'ROLE_DELETE'
            ]),

            //获取角色列表
            getRoleList(){
                this.ROLE_LIST(this.params).then(res=>{
                    this.tableData = res.list;
                    this.totalCount = res.total;
                    
                })
            },

            //更新角色
            updateRole(data){
                this.ROLE_UPDATE(data).then(res=>{
                this.getRoleList();    //完成后更新列表
                this.$message({
                    type:'success',
                    message:'更新角色权限成功'
                })
                })
            },

            //添加角色
            addRole(data){
                this.ROLE_ADD(data).then(res=>{
                    this.getRoleList();  //完成后更新列表
                    this.$message({
                        type:"success",
                        message:"添加角色成功"
                        });
                })
            },

            //删除角色
            deleteRole(data){
                this.ROLE_DELETE(data).then(res=>{
                    this.getRoleList();  //完成后更新列表
                    this.$message({
                        type:"success",
                        message:"删除角色成功"
                    });
                })
            },

            handleCurrentChange(index){
                this.form.pageNum = index;
            },
            //添加或编辑
            editClick(str,data){
                switch(str){
                    case 'add':
                        this.tableData_dialog = [{"group":1,"nameList":[{"check":false,"id":1,"name":"查看"}],"rootNode":"数据大屏"},
                                    {"group":2,"nameList":[{"check":false,"id":2,"name":"查看"},{"check":false,"id":3,"name":"编辑"}],"rootNode":"自我隔离"},
                                    {"group":3,"nameList":[{"check":false,"id":4,"name":"查看"}],"rootNode":"区域管理"},
                                    {"group":4,"nameList":[{"check":false,"id":5,"name":"查看"}],"rootNode":"修改密码"},
                                    {"group":5,"nameList":[{"check":false,"id":6,"name":"查看"},{"check":false,"id":7,"name":"删除"},
                                    {"check":false,"id":8,"name":"编辑"},{"check":false,"id":9,"name":"添加"}],"rootNode":"角色管理"},
                                    {"group":6,"nameList":[{"check":false,"id":10,"name":"查看"},{"check":false,"id":11,"name":"删除"},
                                    {"check":false,"id":12,"name":"编辑"},{"check":false,"id":13,"name":"添加"}],"rootNode":"账号管理"},
                                    {"group":7,"nameList":[{"check":false,"id":14,"name":"查看"}],"rootNode":"地图模式"},
                                    {"group":8,"nameList":[{"check":false,"id":15,"name":"查看"}],"rootNode":"数据统计"},
                                    {"group":9,"nameList":[{"check":false,"id":16,"name":"查看"}],"rootNode":"报警记录"},
                                    {"group":10,"nameList":[{"check":false,"id":17,"name":"查看"},
                                    {"check":false,"id":18,"name":"删除关注"},{"check":false,"id":19,"name":"解除绑定"},{"check":false,"id":20,"name":"编辑"}],"rootNode":"设备列表"}];
                                    
                        this.title = '添加角色';
                        this.form.nameList = "";
                        this.form.remark = "";
                        this.addOrUpdate = 'add';

                        if(localStorage.getItem('permissions').indexOf('role:add') === -1){
                            this.$message({
                                type:'warning',
                                message:'您没有此权限，请联系管理员'
                            })
                        }else{
                            this.tableData_dialog = [{"group":1,"nameList":[{"check":false,"id":1,"name":"查看"}],"rootNode":"数据大屏"},
                                    {"group":2,"nameList":[{"check":false,"id":2,"name":"查看"},{"check":false,"id":3,"name":"编辑"}],"rootNode":"自我隔离"},
                                    {"group":3,"nameList":[{"check":false,"id":4,"name":"查看"}],"rootNode":"区域管理"},
                                    {"group":4,"nameList":[{"check":false,"id":5,"name":"查看"}],"rootNode":"修改密码"},
                                    {"group":5,"nameList":[{"check":false,"id":6,"name":"查看"},{"check":false,"id":7,"name":"删除"},
                                    {"check":false,"id":8,"name":"编辑"},{"check":false,"id":9,"name":"添加"}],"rootNode":"角色管理"},
                                    {"group":6,"nameList":[{"check":false,"id":10,"name":"查看"},{"check":false,"id":11,"name":"删除"},
                                    {"check":false,"id":12,"name":"编辑"},{"check":false,"id":13,"name":"添加"}],"rootNode":"账号管理"},
                                    {"group":7,"nameList":[{"check":false,"id":14,"name":"查看"}],"rootNode":"地图模式"},
                                    {"group":8,"nameList":[{"check":false,"id":15,"name":"查看"}],"rootNode":"数据统计"},
                                    {"group":9,"nameList":[{"check":false,"id":16,"name":"查看"}],"rootNode":"报警记录"},
                                    {"group":10,"nameList":[{"check":false,"id":17,"name":"查看"},
                                    {"check":false,"id":18,"name":"删除关注"},{"check":false,"id":19,"name":"解除绑定"},{"check":false,"id":20,"name":"编辑"}],"rootNode":"设备列表"}];
                            this.title = '添加角色';
                            this.form.nameList = "";
                            this.form.remark = "";
                            this.addOrUpdate = 'add';
                        }
                        

                        break;
                    case 'edit':
                        if(localStorage.getItem('permissions').indexOf('role:update') === -1){
                            this.$message({
                                type:'warning',
                                message:'您没有此权限，请联系管理员'
                            })
                        }else{
                            this.addOrUpdate = 'edit';
                            this.title = '编辑角色';
                            this.tableData_dialog = JSON.parse(data.permissions);
                            this.form.name = data.name;
                            this.form.remark = data.remark;
                            this.form.id = data.id;
                        }
                        
                        break;
                }
                this.dialogFormVisible = true;
            },

            //删除角色按钮
            deleteClick(data){
                if(localStorage.getItem('permissions').indexOf('role:delete') === -1){
                    this.$message({
                        type:'warning',
                        message:'您没有此权限，请联系管理员'
                    })
                }else{
                    this.form.id = data.id;
                    this.centerDialogVisible = true;
                }
                
            },


            cancel(num){
                this.dialogFormVisible = false;
            },

            //添加或编辑弹框dialog确认按钮
            confirm(){
                //通过addOrUpdate字段判断添加还是编辑
                if(this.addOrUpdate == 'edit'){
                    this.form.permissions = JSON.stringify(this.tableData_dialog);
                    console.log(this.form);
                    this.updateRole(this.form);
                }else{
                    if(this.form.name == '' || this.form.name == null){
                        alert('角色名称不能为空')
                    }else{
                        this.form.permissions = JSON.stringify(this.tableData_dialog);
                        this.addRole(this.form);
                    }
                   
                }
                this.dialogFormVisible = false;
                

            },


            handleCheckedCitiesChange(value,name) {
                if(name == '查看' && value.nameList.length >1 && !value.nameList[0].check){
                    for(var j = 1;j < value.nameList.length;j++){
                                if(this.tableData_dialog[value.group-1].nameList[j].check){
                                    this.tableData_dialog[value.group-1].nameList[j].check = false;
                                }
                    }
                }

                if(name != '查看' && value.nameList.length >1 && !value.nameList[0].check){
                    this.tableData_dialog[value.group-1].nameList[0].check = true;
                }                
            
            },

            //删除弹框dialog的确认按钮
            confirm_delete(){
                this.deleteRole(this.form);
                this.centerDialogVisible = false;
            },

            handleCurrentChange(index){
                this.params.pageNo = index;
                this.getRoleList();
            },

            rowHeaderSty({row,index}){
                return 'bgHeaders';
            },
            rowHeaderSty_dialog({row,index}){
                return 'bgHeaders_dialog';
            },





           




        }
    }
</script>

<style lang="scss" scoped>
    .roleManage{
        width: 100%;
        padding: 30px;
    }
    .edit_dialog{
        margin-left: 40px;
    }

    

    .table_dialog{
        background: white !important;
        color: black;
        width: 80%;
        
    }

   

    .warn_content{
        font-size: 20px;
        text-align: center;
    }
    
    
</style>
<style>
    .el-table .bgHeaders_dialog{
        background-color:  rgb(206, 208, 209) !important;
        height: 30px;
        padding: 0;
        text-align: center;
        
    }
    .el-table .bgHeaders{ 
        background-color:  rgb(48,66,86) !important;
        text-align: center;
        color: white;
        
    }
    .el-table  th {
        background-color: none !important;
    }
    .fystyle{
        margin-top: 15px;
    }

   /* .table_dialog{
        background: white !important;
        color: floralwhite;
        width: 80%;
    } */

  

</style>