<template>
  <div class="app-container">
    <el-card class="box-card">
      <div class="ts">注意： 为保证效果，请使用谷歌浏览器访问，如果您点开后，想全屏，请按电脑上的F11按钮进行全屏实时查看</div>
      <el-button @click="goPage()" type="primary">点击打开大屏</el-button>
    </el-card>

    <!-- <router-link to='https://datav.aliyuncs.com/share/c19e9a505fc8de3f7fd1c3f2af0ea28f'>
            <button>点击跳转2</button>
    </router-link>-->
  </div>
</template>
<style scoped>
.ts {
  margin-bottom: 15px;
  font-size: 14px;
}
</style>
<script>
import { get_datav_auth } from "../../api/gen-api";
export default {
  data() {
    return {
      datav:"http://datav.aliyuncs.com/share/b3eb7eb63da01b8a4b3514f57fd37e24"
    };
  },
  methods: {
    goPage() {
      //   this.$router.push('https://datav.aliyuncs.com/share/c19e9a505fc8de3f7fd1c3f2af0ea28f');
      // window.location = "https://datav.aliyuncs.com/share/c19e9a505fc8de3f7fd1c3f2af0ea28f";
      get_datav_auth()
        .then(result => {
          let t = result.data.auth_token;
          window.open(
            `${this.datav}?auth_token=${t}`,
            "_blank"
          );
        })
        .catch(e => {
           if(e.response.status == '419'){
              this.$message.error("请登录！");
              this.$router.push('/login');
            }else{
              // this.$message.error("请求失败，服务器错误");
              this.$message.error("请求失败"+e.response.data);
            }
        });
    }
  }
};
</script>
<style scoped>
</style>
<style lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>