<template>
  <div class="app-container">
    <el-form :inline="true" :model="formInline" class="demo-form-inline formbg">
      <el-form-item>
        <el-button type="primary" plain>刷新</el-button>
      </el-form-item>
    </el-form>
    <el-table
    :data="tableData"
    stripe
    style="width: 100%">
    <el-table-column
      prop="inOutWarning"
      label="出入报警"
      width="200">
    </el-table-column>
    <el-table-column
      prop="demolitionWarning"
      label="拆除报警"
      width="200">
    </el-table-column>
    <el-table-column
      prop="lowPowerWarning"
      label="低电量报警"
      width="200">
    </el-table-column>
    <el-table-column
      prop="addDevice"
      label="安装设备数">
    </el-table-column>
  </el-table>

  </div>
</template>
<style scoped>
.formbg{background:#f2f2f2;padding-top: 20px;padding-left: 10px;}
</style>
<script>
export default {
  data() {
    return {
      tableData: [{
          inOutWarning: '10',
          demolitionWarning: '24',
          lowPowerWarning: '45',
          addDevice: '100'
        }]
    }
  },
}
</script>

